&-delivery
    &__title
        margin-bottom 15px

    &__input
        border 1px solid #e5e5e5
        border-top-color #bdbdbd
        width 100%
        display flex
        align-items center
        justify-content space-between
        padding 11px 15px
        font-size 15px
        border-radius 4px
        margin-bottom: $form-margin
        outline 0
        background-color #fff
        height 43px
        position relative

        > input[type="file"]
            width 1px
            height 1px
            position absolute
            opacity 0
            top 50%
            left 50%

        &-btn
            @extend .btn
            @extend .btn_size_middle
            @extend .btn_outline_primary

            border-top-right-radius 4px
            border-bottom-right-radius 4px
            margin-right -($grid-gutter / 2)

        &:hover
            & ^[-1]-btn
                background-color: $colors.primary
                color #fff

        &-file-name
            overflow hidden
            padding-right 10px
            white-space nowrap
            text-overflow ellipsis

    &__item
        padding-left 25px

        &:not(:last-of-type)
            margin-bottom 8px

        &:before
            margin 0 5px 0 -25px
            display inline-block
            content '—'

        &-text
            margin-top 5px
            font-size 14px

    &__link-wrap
        margin-top -5px
