&-description
    @extend .col_24

    line-height 1.4

    +media-breakpoint-down(sm)
        display none

    &__text
        padding 0
        font-size 14px

        & >
            *
                &:last-child
                    margin-bottom 0

                &:first-child
                    margin-top 0
