&-free
    &__text
        font-size 12px

    &__btn
        display inline-block
        cursor pointer
        font-size 14px
        color: $colors.primary
        text-decoration underline
        margin-top 6px
        font-weight 600

        &:hover
            color #e04601
