&-payment
    &__list
        list-style none
        margin 0
        padding 0

        +media-breakpoint-down(sm)
            padding 14px 10px 19px

    &__item
        padding-left 28px

        +media-breakpoint-down(sm)
            font-size 15px
            padding-left 24px

        &:not(:last-of-type)
            margin-bottom 8px

            +media-breakpoint-down(sm)
                margin-bottom 12px

        &:before
            margin 0 8px 0 -28px
            display inline-block
            content '—'

            +media-breakpoint-down(sm)
                margin-left -23px

    &__icon
        &-card
            height 22px
            width 35px

            &:first-child
                margin-left 5px

                +media-breakpoint-down(sm)
                    margin 0

        &-wrap
            +media-breakpoint-down(sm)
                display inline-block
                width 100%
