<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Регион</th>
            <th>Телефон</th>
            <th>Индекс</th>
            <th>Сумма бесплатной доставки</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <template v-if="form.visible">
              <td></td>
              <td title="Название">
                <input v-model="form.title" class="input" ref="title" />
              </td>
              <td title="Регион">
                <input v-model="form.region" class="input" />
              </td>
              <td title="Телефон">
                <input v-model="form.phone" class="input" />
              </td>
              <td title="Индекс">
                <input v-model="form.post_index" class="input" />
              </td>
              <td title="Сумма бесплатной доставки">
                <input v-model="form.free_delivery_price" class="input" />
              </td>
              <td class="is-narrow">
                <div class="field is-grouped is-pulled-right">
                  <p class="control">
                    <button class="button is-primary" v-on:click="saveForm"><i class="fa fa-floppy-o"></i></button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" v-on:click="closeForm"><i class="fa fa-ban"></i></button>
                  </p>
                </div>
              </td>
            </template>
            <template v-else>
              <td colspan="7">
                <div class="field is-grouped" v-if="!form.visible">
                  <div class="control">
                    <button class="button is-primary" v-on:click="openForm">Добавить</button>
                  </div>
                </div>
              </td>
            </template>
          </tr>
          <template v-for="city in cities">
            <tr>
              <td title="ID">{{ city.id }}</td>
              <td title="Название">
                <template v-if="city.isEdited">
                  <input v-model="city.title" class="input" />
                </template>
                <template v-else>
                  {{ city.title }}
                </template>
              </td>
              <td title="Регион">
                <template v-if="city.isEdited">
                  <input v-model="city.region" class="input" />
                </template>
                <template v-else>
                  {{ city.region }}
                </template>
              </td>
              <td title="Телефон">
                <template v-if="city.isEdited">
                  <input v-model="city.phone" class="input" />
                </template>
                <template v-else>
                  {{ city.phone }}
                </template>
              </td>
              <td title="Индекс">
                <template v-if="city.isEdited">
                  <input v-model="city.post_index" class="input" />
                </template>
                <template v-else>
                  {{ city.post_index }}
                </template>
              </td>
              <td title="Сумма бесплатной доставки">
                <template v-if="city.isEdited">
                  <input v-model="city.free_delivery_price" class="input" />
                </template>
                <template v-else>
                  {{ city.free_delivery_price }}
                </template>
              </td>
              <td>
                <div class="field is-grouped is-pulled-right">
                  <template v-if="city.isEdited">
                    <p class="control">
                      <button class="button is-primary" v-on:click="save(city, $event)"><i class="fa fa-floppy-o"></i></button>
                    </p>
                    <p class="control">
                      <button class="button is-danger" v-on:click="close(city)"><i class="fa fa-ban"></i></button>
                    </p>
                  </template>
                  <template v-else>
                    <p class="control">
                      <button class="button" v-on:click="edited(city)"><i class="fa fa-pencil"></i></button>
                    </p>
                    <p class="control">
                      <button class="button is-danger" v-on:click="remove(city, $event)"><i class="fa fa-remove"></i></button>
                    </p>
                  </template>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'cities',
    data () {
      return {
        cities: [],
        form: {
          visible: false
        }
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.loadCities().then(() => {
        store.dispatch('pageload/complete')
      })
    },
    methods: {
      loadCities () {
        return Api.contentCities.get().then(res => {
          this.cities = res.body.map(city => {
            city.isEdited = false
            city._original = {...city}
            return city
          })

          store.dispatch('pageload/complete')
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          store.commit('pageload/error')
        })
      },
      edited (city) {
        city.isEdited = true
      },
      close (city) {
        city = Object.assign(city, city._original)
        city.isEdited = false
      },
      save (city, event) {
        event.target.classList.add('is-loading')

        Api.contentCities.update({id: city.id}, city).then(() => {
          city.isEdited = false
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          event.target.classList.remove('is-loading')
        })
      },
      remove (city, event) {
        if (confirm('Вы действительно хотите удалить "' + city.title + '"?')) {
          event.target.classList.add('is-loading')

          Api.contentCities.delete({id: city.id}).then(() => {
            this.loadCities()
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      },
      saveForm () {
        Api.contentCities.save({}, this.form).then(res => {
          this.loadItems()
          this.closeForm()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      closeForm () {
        this.form = {
          visible: false
        }
      },
      openForm () {
        this.form.visible = true
      }
    }
  }
</script>

<style scoped lang="scss">
  .table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }
</style>