<template>
  <list-component type="4"></list-component>
</template>

<script>
  import ListComponent from '@/components/ContentFeaturesList'

  export default {
    components: {ListComponent}
  }
</script>