<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <tabs class="field">
        <tab :name=$options.filters.tabName(category.name) v-for="category in categories" :key="category.name" :id="category.name" :suffix=$options.filters.counter(category.counter)>
          <table class="table is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>RU</th>
                <th>EN</th>
                <th>IT</th>
                <th>Дата запроса</th>
                <th v-if="category.name !== 'all'"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in category.list">
                <td>
                  {{ item.ru }}
                </td>
                <td title="EN" :class="!item.en ? 'has-background-danger' : ''">
                  <template v-if="item.isEdited">
                    <textarea v-model="item.en" class="textarea" rows="1"></textarea>
                  </template>
                  <template v-else>
                    {{ item.en }}
                  </template>
                </td>
                <td title="IT" :class="!item.it ? 'has-background-danger' : ''">
                  <template v-if="item.isEdited">
                    <textarea v-model="item.it" class="textarea" rows="1"></textarea>
                  </template>
                  <template v-else>
                    {{ item.it }}
                  </template>
                </td>
                <td :title="item.updated_at | fromNow" class="nowrap">{{ item.updated_at | date }}</td>
                <td class="nowrap has-text-right" v-if="category.name !== 'all'">
                  <template v-if="item.isEdited">
                    <div class="field is-grouped is-pulled-right">
                      <p class="control">
                        <button class="button is-primary" :class="item.isSending ? 'is-loading' : ''" v-on:click="save(item, $event)"><i class="fa fa-floppy-o"></i></button>
                      </p>
                      <p class="control">
                        <button class="button is-danger" v-on:click="close(item)"><i class="fa fa-ban"></i></button>
                      </p>
                    </div>
                  </template>
                  <template v-else>
                    <button class="button" v-on:click="edited(item)"><i class="fa fa-pencil"></i></button>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
  import store from '@/store'

  import Tab from '@/components/Tab'
  import Tabs from '@/components/Tabs'

  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'
  import { format, fromNow } from '@/helpers/date'

  export default {
    name: 'languages',
    components: {Tab, Tabs},
    data () {
      return {
        categories: []
      }
    },
    methods: {
      edited (item) {
        item.isEdited = true
      },
      close (item) {
        item = Object.assign(item, item._original)
        item.isEdited = false
      },
      save (item) {
        item.isSending = true

        Api.contentI10n.update({id: item.id}, {en: item.en, it: item.it}).then(() => {
          item.isSending = false
          item.isEdited = false
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          item.isSending = false
        })
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentI10n.get().then(({body}) => {
        this.categories = body.map(category => {
          const list = category.list.map(item => {
            item.isEdited = false
            item.isSending = false
            item._original = {...item}

            return item
          })

          category.list = list

          return category
        })

        store.commit('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    filters: {
      tabName: name => {
        const names = {
          all: 'Все',
          colors: 'Цвета',
          properties: 'Свойства',
          cart: 'Корзина',
          catalog: 'Каталог',
          categories_desc: 'Описание категорий',
          categories_title: 'Название категорий',
          common: 'Общие',
          country: 'Страны',
          favorites: 'Избранное',
          item: 'Товар',
          order: 'Заказ',
          pages: 'Страницы',
          search: 'Поиск'
        }

        return names[name] || name
      },
      counter: counter => {
        return counter ? '<span class="tag is-warning">' + counter + '</span>' : ''
      },
      date: (date) => format(date),
      fromNow: (date) => fromNow(date)
    }
  }
</script>

<style lang="scss">
  .tabs a .tag {
    border-radius: 50%;
    margin-left: .5em;
    height: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .nowrap {
    white-space: nowrap;
  }

  .table td {
    vertical-align: middle;
  }
</style>