&-header
    @extend .row
    @extend .row_doub

    margin-top ($grid-gutter / 2)
    margin-bottom ($grid-gutter / 2)
    align-items center
    min-height 45px

    +media-breakpoint-down(sm)
        margin 0
        min-height 38px

    &__title
        &-wrap
            @extend .col_md_13
            @extend .col_lg_15
            @extend .col_xl_17

            display flex

    &__actions
        @extend .col_md_11
        @extend .col_lg_9
        @extend .col_xl_7

        display flex
        align-items center
        justify-content flex-end

        +media-breakpoint-down(sm)
            display none
