.page
    @require header

    @extend .row

    &__title
        width 100%
        font-weight 600
        font-size 24px
        margin: 0 0 5px 0

        &_error
            margin-top ($grid-gutter / 2)

        &_compare
            margin-bottom 0

        +media-breakpoint-down(sm)
            text-align center
            font-size 15px
            line-height 17px
            margin-bottom 0
            font-weight 400

    &__content
        @extend .col_24

        &_background
            padding-top ($grid-gutter / 2)
            padding-bottom ($grid-gutter / 2)
            background-color #fff
            block-shadow()

            +media-breakpoint-down(sm)
                padding-top 10px

        &_catalog
            margin-top 5px

            +media-breakpoint-down(sm)
                display none

            &_mob
                display none
                margin-bottom -5px

                +media-breakpoint-down(sm)
                    display block

        &_text
            line-height: $line-height

        >
            *:first-child
                margin-top 0

            *:last-child
                margin-bottom 0

        &_order
            margin-top ($grid-gutter / 2)

        &-wrap
            @extend .row

    &__map
        @extend .col_24

        block-shadow()

        background-color #fff
        height 600px
        margin-top ($grid-gutter / 2)
        position relative

        &-wrap
            @extend .row

            position absolute
            top 0
            left 15px
            height 100%
            width 100%
            z-index 2
            transition opacity .1s linear

            +media-breakpoint-down(sm)
                left 0

            &_disabled
                opacity .3

            &:empty:after
                content ''
                display block
                left 0
                right 0
                top 0
                bottom 0
                position absolute
                background-color #fff

        &-touch
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            height 100%
            width 100%
            text-align center
            align-items center
            justify-content center
            background-color #000
            color #fff
            padding 0 15px
            font-size 24px
            line-height 1.4em
            opacity 1
            pointer-events none
            z-index 1
            display none

            .touchevents &
                display flex
