.container
    margin-right auto
    margin-left auto
    padding-right: ($grid-gutter / 2)
    padding-left: ($grid-gutter / 2)

    for $breakpoint, $max-width in $container-max-widths
        +media-breakpoint-up($breakpoint)
            width: $max-width
            max-width 100%

    +media-breakpoint-down(sm)
        padding-right 5px
        padding-left 5px

.row
    display flex
    flex-wrap wrap
    margin-right ($grid-gutter / -2)
    margin-left ($grid-gutter / -2)

    +media-breakpoint-down(sm)
        margin-right 0
        margin-left 0

.row_doub
    margin-right: -($grid-gutter)
    margin-left: -($grid-gutter)

    +media-breakpoint-down(sm)
        margin-right 0
        margin-left 0

.col
    position relative
    width 100%
    min-height 1px
    padding-right ($grid-gutter / 2)
    padding-left ($grid-gutter / 2)

    +media-breakpoint-down(sm)
        padding-left 5px
        padding-right 5px

for $breakpoint in keys($grid-breakpoints)
    $infix = breakpoint-infix($breakpoint)
    $columns = range(1, $grid-columns)

    +media-breakpoint-up($breakpoint)
        for $column in $columns
            .col{$infix}_{$column}
                @extend .col

                flex 0 0 (100% / $grid-columns * $column)
                max-width (100% / $grid-columns * $column)

            .offset{$infix}_{$column}
                margin-left (100% / $grid-columns * $column)
