&-availability
    @extend .col_md_24

    padding-top 8px
    max-height 100%
    display flex
    overflow hidden

    +media-breakpoint-down(xs)
        max-height 160px

    &_narrowed
        overflow hidden

        & ^[-1]__more
            display block

        ^[-1]:not(&)
            &:after
                display none

    &__title
        font-size 13px
        font-weight 600
        margin 14px 0 3px
        white-space nowrap

    &__more
        content ''
        position absolute
        z-index: 2
        bottom 0
        left 0
        width 100%
        padding-left 9px
        cursor pointer
        font-size 13px
        background-color #fff
        color #939393
        display none

        &_active
            display block

        ^[-1]:not(^[-1]_narrowed) &
            margin 9px 0 10px
            position static

        &:hover
            color: #5C5C5C

        &:after
            content ''
            display block
            position absolute
            top -18px
            left 0
            width 100%
            height 20px
            background linear-gradient(to top, #ffffff 30%, transparent 100%)

    &__wrap
        @extend .row

        margin-bottom 30px

    &__list
        padding-left 6px
        line-height: 20px

        +media-breakpoint-down(sm)
            padding-left 0

        &-wrap
            max-height 100%
            display inline-block
            position relative

        tr
            &:first-child
                & ^[-2]__title
                    margin-top 0

            td:first-of-type
                width 1px

    &__key
        font-size 14px
        padding-right 15px

    &__value
        font-size 14px
        text-align right
        white-space nowrap
        font-weight 600

    &__transit
        font-size 14px
        font-weight 600

    &__under-order
        font-size 14px
        color #939393

        &_key
            text-align right

    &__icon
        margin-left 5px
        transform rotate(-180deg)
        transition transform 0.15s ease-out

    &:not(&_narrowed)
        & ^[-1]-active
            display inline

        & ^[-1]-disabled
            display none

        & ^[-1]__icon
            transform rotate(0)

    &-active
        display none
