&-color-box
    width 12px
    height 12px
    display inline-block
    margin 0 7px -2px 0
    position relative
    overflow hidden
    border-radius 1px

    &__item
        border-radius 1px
        position absolute
        width 100%
        height 100%
        top 0
        left 0

        &_border
            border 1px solid #cacaca

    &_is-double
        & ^[-1]__item
            transform rotate(45deg)
            width 150%
            height 150%
                
            &:first-child
                top: -4px
                left: -4px

            &:last-child
                top: 4px
                left: 4px

    &_is-triple
        & ^[-1]__item
            &:nth-child(1)
                z-index 2
                left -9px

            &:nth-child(2)
                z-index 1

            &:nth-child(3)
                z-index 2
                left 9px


    &_is-quadruple
        background-color black

        & ^[-1]__item
            transform rotate(45deg)

            &:nth-child(1)
                top 0
                left -9px

            &:nth-child(2)
                top -9px
                left 0
            
            &:nth-child(3)
                top 0
                left 9px
            
            &:nth-child(4)
                top 9px
                left 0
