&-item
    @require availability
    @require table
    @require photo
    @require description
    @require info
    @require color-box

    &__table
        margin-top ($grid-gutter / 2)

        &-wrap
            &_short
                max-width 370px

            +media-breakpoint-down(xs)
                overflow auto

    &__title
        margin-bottom ($grid-gutter / 2)
        font-size 15px

        &-articul
            font-size 20px
            display inline-block
            font-weight 400
            margin 0

        +media-breakpoint-down(sm)
            display none

    &__tab
        display flex
        flex-direction column
        justify-content space-between
        min-height 382px
        overflow hidden

        &_first:not(&_extended)
            max-height 382px

            +media-breakpoint-down(xs)
                max-height none
