&-photo
    @extend .col_md_8
    @extend .col_sm_24

    text-align center

    &__item
        display flex
        align-items center
        justify-content center
        height 100%

        > img
            width auto
            height auto
            max-width 100%
            max-height 100%

    &__list
        height 100%

        &-wrapper
            position relative
            height 350px

            &:hover ^[-2]__promo
                display none

            +media-breakpoint-down(lg)
                height 290px

            +media-breakpoint-down(md)
                height 210px

            +media-breakpoint-down(sm)
                height 192px

    &__next
    &__prev
        background-size contain
        background-position center!important
        background-repeat no-repeat
        height 42px
        width 32px
        z-index 1
        margin-top -21px
        position absolute
        top 50%
        cursor pointer

    &__prev
        background-image url('/images/slider_arrow.png')
        left 5px

    &__next
        background-image url('/images/slider_arrow_r.png')
        right 5px

    &:not(:hover):not(:focus) &__list-wrapper
        & ^[-1]__next
        & ^[-1]__prev
            opacity .3

    &__promo
        position absolute
        top 0
        left 0
        z-index 1
