<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <button class="button" @click="onSubmit" :class="isPending ? 'is-loading': ''">Начать импорт</button>
          <div class="content" v-if="result.updatedArticles && result.updatedArticles.length">
            <h4>Список обновленных артикулов</h4>
            <ul>
              <li v-for="article in result.updatedArticles">{{ article }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Api from '@/api'

  import store from '@/store'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'import-price',
    data () {
      return {
        isPending: false,
        result: {}
      }
    },
    methods: {
      onSubmit () {
        if (!this.isPending && confirm('Вы точно хотите начать импорт цен?')) {
          this.isPending = true

          Api.contentImport.save().then(({body}) => {
            this.result = body
            this.isPending = false
            store.commit('notification/add', {
              type: 'success',
              text: `Импорт цен завершен
                <ul>
                  <li><strong>Найдено:</strong> ${body.found} </li>
                  <li><strong>Обновлено:</strong> ${body.updated}</li>
                  <li><strong>Не найдено:</strong> ${body.notFound}</li>
                </ul>`,
              duration: 10000
            })
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
            this.isPending = false
          })
        }
      }
    }
  }
</script>
