.delivery-info
    position fixed
    z-index 1
    left 0
    bottom 0
    width 100%
    background-color: $colors.secondary
    color #fff
    font-size 15px
    line-height 20px
    display none

    +media-breakpoint-down(sm)
        padding 0 18px
        line-height 19px

    &_active
        display block

    &__container
        @extend .container

        display flex
        align-items center
        justify-content center
        min-height 40px
        padding 8px 0
        position relative

        +media-breakpoint-down(sm)
            padding 8px 21px 8px 0

    &__text
        margin-right 5px

    &__link
        color #fff

        &:hover
            text-decoration none

    &__close
        cursor pointer
        height 16px
        width 16px
        margin 0 0 -2px 23px

        +media-breakpoint-down(sm)
            margin 0
            position absolute
            right 0
            top calc(50% - 8px)
