.tags
    margin-top -6px
    margin-bottom 6px

    +media-breakpoint-down(sm)
        display none

    &__wrap
        padding 0 30px
        position relative
        width calc(100% + 60px)
        margin-left -30px

    &__row
        @extend .row

        position static

    &__list
        padding 6px 0

    &__item
        width 130px
        background-color #fff
        box-shadow 0 2px 2px 0 rgba(0, 0, 0, .2)
        display flex
        flex-direction column
        align-items center
        cursor pointer
        border 1px solid transparent
        position relative
        text-decoration none
        color #000
        outline 0
        padding 3px 5px 5px

        &_active
        &:hover
            border-color: $colors.secondary

        &-wrap
            padding-right 6px
            display inline-flex
            margin-right 3px
            width auto
            height auto
            align-items stretch

    &__title
        font-size 14px
        line-height 17px
        text-align center
        display flex
        align-items center
        flex-grow 1
        white-space normal

    &__image
        display flex
        align-items center
        justify-content center
        height 70px
        transition opacity .1s linear
        flex-shrink 0

        > img
            max-height 100%
            max-width 100%

        ^[-1]_active &
            opacity .4

        ^[-1]__item_active &
            opacity 1

        ^[-1]__item:hover &
            opacity 1

    &__check
        width 22px
        height 22px
        border-radius 50%
        color #fff
        background-color: $colors.secondary
        box-shadow 0 1px 2px 0 rgba(0, 0, 0, .2)
        display flex
        align-items center
        justify-content center
        position absolute
        opacity 0
        top -7px
        right -7px
        transition opacity .1s linear

        ^[-1]__item_active &
            opacity 1

    &__next
    &__prev
        border-radius 50%
        background-color rgba(95,95,95,.3)
        background-image url(/images/arrow-slider.svg)
        background-repeat no-repeat
        background-position center
        height 40px
        width 40px
        overflow hidden
        margin-top -20px
        transition background-color .1s linear
        z-index 1
        position absolute
        top 50%
        cursor pointer

    &__prev
        left 0
        transform rotate(180deg)

    &__next
        right 0