<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="field has-addons">
                <div class="control">
                  <a class="button is-static">С</a>
                </div>
                <div class="control is-expanded">
                  <input class="input" v-model="dateFrom" @change="changeDate">
                </div>
              </div>
            </div>
            <div class="control">
              <div class="field has-addons">
                <div class="control">
                  <a class="button is-static">По</a>
                </div>
                <div class="control is-expanded">
                  <input class="input" v-model="dateTo" @change="changeDate">
                </div>
              </div>
            </div>
          </div>
          <pagination ref="topPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
          <div class="table-wrap" :class="isSending ? 'table-wrap-disabled' : ''">
            <table class="table is-hoverable">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Дата</th>
                  <th>Email</th>
                  <th>Телефон</th>
                  <th>Имя / Компания</th>
                  <th>Итого</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <router-link tag="tr" :to="{ name: 'management-orders', params: { id: order.id }}" :key="order.id" v-for="order in orders" :title="order.date | fromNow">
                  <td>{{ order.id }}</td>
                  <td>{{ order.date | date }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.phone }}</td>
                  <td>
                    {{ order.name }}
                    <template v-if="order.name && order.company_name">
                      /
                    </template>
                    {{ order.company_name }}
                  </td>
                  <td class="has-text-right has-text-nowrap">{{ order.total_price }}</td>
                  <td><router-link :to="{ name: 'management-orders', params: { id: order.id }}">Подробнее</router-link></td>
                </router-link>
              </tbody>
            </table>
          </div>
          <pagination ref="bottomPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import { format, fromNow } from '@/helpers/date'

  import store from '@/store'
  import router from '@/router'

  import Api from '@/api'

  import Pagination from '@/components/Pagination'

  export default {
    name: 'management-orders-list',
    components: { Pagination },
    data () {
      return {
        orders: [],
        isSending: false,
        totalPages: 1,
        currentPage: store.state.route.query.page || 1,
        dateFrom: store.state.route.query.date_from,
        dateTo: store.state.route.query.date_to
      }
    },
    computed: {
      getCurrentPage () {
        return +this.currentPage - 1
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.setPage(this.currentPage).then(() => {
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      setPage (page) {
        this.isSending = true
        this.currentPage = page

        if (+page !== this.$refs.bottomPagination.selected) {
          this.$refs.bottomPagination.selected = +page - 1
        }

        if (+page !== this.$refs.topPagination.selected) {
          this.$refs.topPagination.selected = +page - 1
        }

        return Api.salesOrders.getList({page, date_from: this.dateFrom, date_to: this.dateTo}).then(({body}) => {
          this.isSending = false
          this.orders = body.data
          this.totalPages = body.last_page
          this.currentPage = body.current_page
        }, res => {
          this.isSending = false
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      changeDate () {
        this.setPage(1)
        this.changeRouteQuery('date_from', this.dateFrom)
        this.changeRouteQuery('date_to', this.dateTo)
      },
      changeRouteQuery (key, value) {
        const query = {...store.state.route.query}

        query[key] = value || undefined

        router.replace({query})
      }
    },
    watch: {
      currentPage (value) {
        this.changeRouteQuery('page', value)
      }
    },
    filters: {
      date: (date) => format(date),
      fromNow: (date) => fromNow(date)
    }
  }
</script>

<style scoped lang="scss">
  .table tbody tr {
    cursor: pointer;
  }

  .table-wrap-disabled {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(230, 230, 230, 0.65);
    }
  }
</style>