&-item
    position relative

    &:not(&_last):after
        content ''
        display block
        position absolute
        height calc(100% - 32px)
        width 1px
        background-color #cdcdcd
        left 32px
        top 64px
        transition background-color .15s linear

        +media-breakpoint-down(sm)
            display none

    &:not(:first-of-type)
        &:before
            content ''
            display block
            border-bottom: 1px solid #CDCDCD;
            margin-left 100px

            +media-breakpoint-down(sm)
                margin 0 -11px
                border-bottom-color #e7e7e7

    &_passed
        cursor pointer

        &:not(&_last):after
            background-color: $colors.secondary

    &__header
        display flex
        align-items center

    &__arrow
        display none
        margin-left auto
        color #cdcdcd
        transform rotate(180deg)
        transition color .15s linear

        ^[-1]__header:hover &
            color: #939393

        ^[-1]_passed &
            display block
            height 10px
            width 18px

    &__icon
        width 64px
        height 64px
        border-radius 50%
        display flex
        align-items center
        justify-content center
        border 1px solid #cdcdcd
        background-color #fff
        color #cdcdcd
        margin-right 35px
        position relative
        z-index 1
        flex-shrink 0
        transition color .15s linear, border-color .15s linear, background-color .15s linear

        ^[-1]_active &
            color: $colors.secondary
            border-color: $colors.secondary

        ^[-1]_passed &
            color #fff
            border-color: $colors.secondary
            background-color: $colors.secondary

        +media-breakpoint-down(sm)
            height 50px
            width 50px
            margin-right 15px

    &__title
        font-size 20px
        color #bdbdbd
        display flex
        align-items center
        height 96px
        margin-top -5px

        ^[-1]_active &
        ^[-1]_passed &
            color #000

        +media-breakpoint-down(sm)
            font-weight 600
            font-size 15px
            height 80px
            margin-top 0

    &__body
        display none
        margin-left 100px
        padding-bottom 30px
        position relative
        margin-top -8px

        > *:first-child
            padding-top 8px

            +media-breakpoint-down(sm)
                padding-top 0

        +media-breakpoint-down(sm)
            margin-left 0
            margin-top 0
            padding-bottom 15px

        ^[-1]:nth-child(3) &
            padding-bottom 8px
