<template>
  <button class="button is-large is-danger" :class="isLoad ? 'is-loading' : ''" @click="start" v-if="isOneApril">
    <i class="fa fa-exclamation-triangle"></i> Не нажимать!
  </button>
</template>

<script>
  import store from '@/store'
  import moment from 'moment'

  export default {
    name: 'april-first-button',
    data () {
      return {
        isLoad: false,
        isOneApril: moment().date() === 2 && moment().month() === 3
      }
    },
    methods: {
      start () {
        if (!this.isLoad) {
          this.isLoad = true

          setTimeout(() => {
            this.isLoad = false

            store.commit('notification/add', {
              type: 'success',
              text: 'База данных успешно очищена'
            })
          }, 7200)
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .fa {
    margin-right: 5px;
  }
</style>