<template>
  <div class="aside column">
    <aside class="menu" v-if="items.length">
      <template v-for="item in items" v-if="item.permissions === undefined || $can(item.permissions)">
        <div class="menu-label">{{ item.name }}</div>
        <ul class="menu-list">
          <li v-for="itemList in item.list" v-if="itemList.permissions === undefined || $can(itemList.permissions)">
            <template v-if="itemList.to && !itemList.to.name && itemList.to.indexOf('http') === 0">
              <a :href="itemList.to">
                <span class="icon" v-if="itemList.icon"><i :class="itemList.icon ? 'fa fa-' + itemList.icon : ''"></i></span> {{ itemList.name }}
              </a>
            </template>
            <template v-else-if="itemList.to">
              <router-link :to=itemList.to :params=itemList.params active-class="is-active" replace>
                <span class="icon" v-if="itemList.icon"><i :class="itemList.icon ? 'fa fa-' + itemList.icon : ''"></i></span> {{ itemList.name }}
              </router-link>
            </template>
            <template v-else>
              <a :class="itemList.list ? 'angle-icon' : ''" v-on:click="itemList.show = !itemList.show">
                <span>
                  <span class="icon" v-if="itemList.icon"><i :class="itemList.icon ? 'fa fa-' + itemList.icon : ''"></i></span>
                  {{ itemList.name }}
                </span>
                <i :class="itemList.show ? 'fa-angle-up' : 'fa-angle-down'" v-if="itemList.list" class="fa"></i>
              </a>
            </template>
            <transition name="height">
              <ul v-if="itemList.list && itemList.show">
                <li v-for="itemListChildren in itemList.list" v-if="itemListChildren.permissions === undefined || $can(itemListChildren.permissions)">
                  <template v-if="itemListChildren.to">
                    <router-link :to=itemListChildren.to :params=itemList.params active-class="is-active" replace>
                      <i :class="itemListChildren.icon ? 'fa fa-' + itemListChildren.icon : ''"></i> {{ itemListChildren.name }}
                    </router-link>
                  </template>
                  <template v-else>
                    <a><span class="icon" v-if="itemList.icon"><i :class="itemList.icon ? 'fa fa-' + itemList.icon : ''"></i></span> {{ itemListChildren.name }}</a>
                  </template>
                </li>
              </ul>
            </transition>
          </li>
        </ul>
      </template>
    </aside>
  </div>
</template>

<style lang="scss" scoped>
  .aside {
    position: fixed;
    top: 52px;
    left: 0;
    background-color: #fff;
    width: 280px;
    height: calc(100% - 52px);
    overflow-y: auto;
  }

  .angle-icon {
    display: flex;
    justify-content: space-between;
  }

  .menu-list a .fa {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script>
  export default {
    name: 'AsideComponent',
    mounted () {
      const name = this.$route.name
      this.items.forEach((item, itemIndex) => {
        item.list.forEach((subItem, subItemIndex) => {
          if (subItem.list) {
            subItem.list.forEach(subSubItem => {
              if (subSubItem.to.name === name) {
                this.items[itemIndex].list[subItemIndex].show = true
              }
            })
          }
        })
      })
    },
    data () {
      return {
        items: [
          {
            name: 'Главное',
            list: [
              {
                name: 'Панель администратора',
                icon: 'tachometer',
                to: { name: 'dashboard' }
              },
              {
                name: 'Профиль',
                icon: 'address-card-o',
                to: { name: 'profile' }
              },
              {
                name: 'Настройки',
                permissions: 'read settings',
                icon: 'cog',
                to: { name: 'settings' }
              }
            ]
          },
          {
            name: 'SEO',
            permissions: 'read seo-items|read seo-categories|read seo-tags',
            list: [
              {
                name: 'Товары',
                permissions: 'read seo-items',
                to: { name: 'seo-items-list' },
                icon: 'shopping-bag'
              },
              {
                name: 'Теги',
                permissions: 'read seo-tags',
                icon: 'tag',
                show: false,
                list: [
                  {
                    name: 'Верхние',
                    permissions: 'read tags',
                    to: { name: 'seo-tags-top-list' }
                  },
                  {
                    name: 'Нижние',
                    permissions: 'read tags',
                    to: { name: 'seo-tags-under-list' }
                  }
                ]
              },
              {
                name: 'Категории',
                permissions: 'read seo-categories',
                to: { name: 'seo-categories-list' },
                icon: 'list-alt'
              }
            ]
          },
          {
            name: 'Контент',
            permissions: 'read items|read categories|read tags|read items-hot|read props|read cities|read managers|read colors|read breadcrumbs',
            list: [
              {
                name: 'Товары',
                permissions: 'read items',
                to: { name: 'content-items-categories' },
                icon: 'shopping-bag'
              },
              {
                name: 'Составные товары',
                permissions: 'read items',
                to: { name: 'content-complex-items-categories' },
                icon: 'shopping-basket'
              },
              {
                name: 'Категории',
                permissions: 'read categories',
                to: { name: 'content-categories-list' },
                icon: 'list-alt'
              },
              {
                name: 'Теги',
                permissions: 'read tags',
                icon: 'tag',
                show: false,
                list: [
                  {
                    name: 'Верхние',
                    permissions: 'read tags',
                    to: { name: 'content-tags-top-list' }
                  },
                  {
                    name: 'Нижние',
                    permissions: 'read tags',
                    to: { name: 'content-tags-under-list' }
                  },
                  {
                    name: 'Seo',
                    permissions: 'read tags',
                    to: { name: 'content-tags-seo-list' }
                  }
                ]
              },
              {
                name: 'Баннеры',
                permissions: 'read items-hot',
                to: { name: 'content-hot-list' },
                icon: 'fire'
              },
              {
                name: 'Оплата',
                permissions: 'read items-hot',
                to: { name: 'content-pay-list' },
                icon: 'fire'
              },
              {
                name: 'Списки',
                permissions: 'read props|read cities|read managers|read colors|read factories',
                show: false,
                icon: 'list-ul',
                list: [
                  {
                    name: 'Материал',
                    permissions: 'read props',
                    to: { name: 'content-list-materials' }
                  },
                  {
                    name: 'Особенности монтажа',
                    permissions: 'read props',
                    to: { name: 'content-list-features' }
                  },
                  {
                    name: 'Тип упаковки',
                    permissions: 'read props',
                    to: { name: 'content-list-types-packages' }
                  },
                  {
                    name: 'Подходит для труб',
                    permissions: 'read props',
                    to: { name: 'content-list-suitable-for-pipes' }
                  },
                  {
                    name: 'Города',
                    permissions: 'read cities',
                    to: { name: 'content-list-cities' }
                  },
                  {
                    name: 'Менеджеры',
                    permissions: 'read managers',
                    to: { name: 'content-list-managers' }
                  },
                  {
                    name: 'Цвета',
                    permissions: 'read colors',
                    to: { name: 'content-list-colors' }
                  },
                  {
                    name: 'Фабрики',
                    permissions: 'read factories',
                    to: { name: 'content-list-factories' }
                  },
                  {
                    name: 'Артикулы',
                    permissions: 'read undertitles',
                    to: { name: 'content-list-undertitles' }
                  }
                ]
              },
              {
                name: 'Импорт цен',
                permissions: 'read items',
                to: { name: 'content-import-price' },
                icon: 'rub'
              },
              {
                name: 'Массовая загрузка изображений',
                permissions: 'add mass-images',
                to: { name: 'content-mass-images' },
                icon: 'picture-o'
              },
              {
                name: 'Breadcrumbs',
                permissions: 'read breadcrumbs',
                to: { name: 'content-breadcrumbs-categories' },
                icon: 'picture-o'
              },
              {
                name: 'Языки',
                permissions: 'read breadcrumbs',
                icon: 'language',
                to: { name: 'content-list-languages' }
              }
            ]
          },
          {
            name: 'Менеджмент',
            permissions: 'read orders',
            list: [
              {
                name: 'Заказы',
                permissions: 'read logs',
                // permissions: 'read orders', TODO
                to: { name: 'management-orders-list' },
                icon: 'shopping-cart'
              }
            ]
          },
          {
            name: 'Администрирование',
            permissions: 'read users|read logs|read activity',
            list: [
              {
                name: 'Активность',
                permissions: 'read activity',
                to: { name: 'admin-activity-list' },
                icon: 'rss'
              },
              {
                name: 'Пользователи',
                permissions: 'read users',
                to: { name: 'admin-users-list' },
                icon: 'users'
              },
              {
                name: 'Журнал сервера',
                permissions: 'read logs',
                to: 'https://zaglushka.ru/logs',
                icon: 'terminal'
              }
            ]
          }
        ]
      }
    },
    methods: {
      can (perm) {
        return this.$can(perm)
      }
    }
  }
</script>

<style scoped lang="scss">
  @media print {
    .aside {
      display: none;
    }
  }
</style>