<template>
  <div class="dropdown" :class="isFocus && items.length ? 'is-active' : ''">
    <input :value="value" :placeholder="placeholder" ref="input" @input="handleInput" @blur="handleBlur" @focus="handleFocus" :class="options.class" :id="id" autocomplete="off">
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a class="dropdown-item" v-for="item in items" @click="selectItem(item, $event)">{{ item.title }}</a>
      </div>
    </div>
  </div>
</template>

<script>
  import Api from '@/api'

  export default {
    name: 'autocomplete',
    props: {
      options: {
        class: String
      },
      api: String,
      query: String,
      placeholder: String,
      id: String,
      value: '',

      onSelect: Function
    },
    data () {
      return {
        items: [],
        isFocus: false
      }
    },
    methods: {
      handleInput (e) {
        let request = Api

        this.api.split('.').forEach((method) => {
          request = request[method]
        })

        request({[this.query]: e.target.value}).then(res => {
          this.items = res.body
        })

        this.$emit('input', e.target.value)
      },
      handleBlur () {
        setTimeout(() => {
          this.isFocus = false
        }, 150)
      },
      handleFocus () {
        this.isFocus = true
      },
      selectItem (item, event) {
        this.items = []
        this.$emit('select', item, this, event)
      }
    }
  }
</script>

<style scoped>
  .dropdown,
  .dropdown-menu {
    width: 100%;
  }
</style>