<template>
  <div>
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="box">
      <p class="control has-icons-left">
        <input class="input input-head" placeholder="Поиск" v-model="search" ref="input">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
      <table class="table is-fullwidth table-slug">
        <tbody>
          <tr>
            <template v-if="form.visible">
              <td>
                <input class="input" v-model="form.value" ref="email">
              </td>
              <td class="is-narrow">
                <div class="field is-grouped is-pulled-right">
                  <p class="control">
                    <button class="button is-primary" v-on:click="saveForm"><i class="fa fa-floppy-o"></i></button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" v-on:click="closeForm"><i class="fa fa-ban"></i></button>
                  </p>
                </div>
              </td>
            </template>
            <template v-else>
              <td colspan="2">
                <div class="field is-grouped" v-if="!form.visible">
                  <div class="control">
                    <button class="button is-primary" v-on:click="openForm">Добавить</button>
                  </div>
                </div>
              </td>
            </template>
          </tr>
          <template v-for="item in filteredItems">
            <tr>
              <td>
                <template v-if="item.isEdited">
                  <input class="input" v-model="item.title"/>
                </template>
                <template v-else>
                  <span v-html="$options.filters.search(item.title, search)"></span>
                </template>
              </td>
              <td class="is-narrow">
                <div class="field is-grouped is-pulled-right">
                  <template v-if="item.isEdited">
                    <p class="control">
                      <button class="button is-primary" v-on:click="save(item, $event)"><i class="fa fa-floppy-o"></i></button>
                    </p>
                    <p class="control">
                      <button class="button is-danger" v-on:click="close(item)"><i class="fa fa-ban"></i></button>
                    </p>
                  </template>
                  <template v-else>
                    <p class="control">
                      <button class="button" v-on:click="edited(item)"><i class="fa fa-pencil"></i></button>
                    </p>
                    <p class="control">
                      <button class="button is-danger" v-on:click="remove(item, $event)"><i class="fa fa-remove"></i></button>
                    </p>
                  </template>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import router from '@/router'
  import store from '@/store'

  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'materials',
    data () {
      return {
        form: {
          visible: false,
          value: ''
        },
        items: [],
        search: store.state.route.query.search
      }
    },
    props: ['type'],
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      this.loadItems().then(() => {
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    computed: {
      filteredItems () {
        return this.items.filter((item) => new RegExp(this.search, 'i').test(item.title))
      }
    },
    methods: {
      loadItems () {
        return Api.props.get({type: this.type}).then(res => {
          this.items = res.body.map(item => {
            item.isEdited = false
            item.originalTitle = item.title
            return item
          })
        })
      },
      saveForm () {
        Api.props.save({}, {type: this.type, title: this.form.value}).then(res => {
          this.loadItems()
          this.closeForm()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      closeForm () {
        this.form.value = ''
        this.form.visible = false
      },
      openForm () {
        setTimeout(() => {
          this.$refs.email.focus()
        })
        this.form.visible = true
      },
      edited (item) {
        item.isEdited = true
      },
      close (item) {
        item.title = item.originalTitle
        item.isEdited = false
      },
      save (item, event) {
        event.target.classList.add('is-loading')

        Api.props.update({id: item.id}, {title: item.title}).then(() => {
          item.isEdited = false
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      remove (item, event) {
        if (confirm('Вы действительно хотите удалить "' + item.title + '"?')) {
          event.target.classList.add('is-loading')

          Api.props.delete({id: item.id}).then(() => {
            this.loadItems()
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      }
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})

        this.findItems()
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  table {
    margin-bottom: 0;

    td {
      vertical-align: middle;
    }
  }

  .input-head {
    margin-bottom: 15px;
  }
</style>