<template>
  <form @submit.prevent="onSubmit">
    <div class="field is-horizontal">
      <label class="checkbox">
        <input type="checkbox" id="top_level" v-model="form.top_level">
        Выводить в основной категории
      </label>
    </div>
    <div class="field">
      <label class="label" for="title">Название</label>
      <div class="control">
        <input class="input" id="title" v-model="form.title">
      </div>
    </div>
    <div class="field">
      <label class="label" for="title_h1">Название h1</label>
      <div class="control">
        <input class="input" id="title_h1" v-model="form.title_h1">
      </div>
    </div>
    <div class="field">
      <label class="label">Описание</label>
      <quill-editor content=" " v-model="form.descr" :options="editorOption" ref="quill"></quill-editor>
    </div>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </form>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'
  import { beforeLeave, beforeUnload } from '@/helpers/confirm-end'

  import { diff } from 'deep-object-diff'

  import Api from '@/api'

  import store from '@/store'
  import router from '@/router'

  export default {
    name: 'list-tag',
    props: {
      tag: Object,
      method: String
    },
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    mounted () {
      this.form = {...this.form, ...this.tag}

      this.$parent.$on('beforeLeave', (to, from, next) => {
        beforeLeave(this, to, from, next)
      })
    },
    watch: {
      tag () {
        this.form = {...this.form, ...this.tag}
      },
      form: {
        handler () {
          this.changed()
        },
        deep: true
      }
    },
    data () {
      return {
        form: {
          descr: '',
          title: '',
          title_h1: '',
          top_level: false
        },
        changes: {},
        isSending: false,
        id: store.state.route.params.id,
        editorOption: {
          modules: {
            toolbar: [[{ 'header': 2 }],
              ['bold', 'italic', 'underline', 'strike'],
              [{'list': 'ordered'}, {'list': 'bullet'}],
              [{'script': 'sub'}, {'script': 'super'}],
              ['clean'],
              ['link']]
          },
          placeholder: ' ',
          readOnly: true
        }
      }
    },
    methods: {
      changed () {
        this.changes = diff(this.tag, this.form)
        this.$nextTick(() => {
          this.$refs.quill.quill.enable()
        })
      },
      onSubmit () {
        if (!this.isSending) {
          this.isSending = true

          let data = {}

          if (this.method === 'update') {
            data._method = 'PUT'
          }

          data = objectToFormData(formattingToSend({
            ...data,
            ...this.changes
          }))

          Api.contentTags[this.method === 'update' ? 'save' : this.method]({id: this.id}, data).then(() => {
            this.changes = {}
            router.go(-1)

            this.isSending = false
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      },
      handlerBeforeUnload (event) {
        beforeUnload(this, event)
      }
    },
    computed: {
      isChanged () {
        return !!(Object.keys(this.changes).length)
      }
    }
  }
</script>