<template>
  <div>
    <div class="field has-addons">
      <div class="control">
        <file ref="file" :label="label" @change.prevent="changeImage" accept="image/*" :id="'image[' + id + ']'"></file>
      </div>
      <div class="control is-expanded" v-if="available">
        <div class="button is-danger" @click.prevent="removeImage"><i class="fa fa-remove"></i></div>
      </div>
    </div>
    <img ref="image" v-show="available" :src="imageLink">
  </div>
</template>

<script>
  import File from '@/components/File'

  export default {
    name: 'content-category-image',
    components: { File },
    props: {
      id: String,
      label: String,
      category: Object,
      images: Object
    },
    computed: {
      categoryImages () {
        return this.category.images
      },
      imageLink () {
        return this.categoryImages[this.id] && this.images._replaced && this.images._replaced.indexOf(this.id) === -1 ? (this.categoryImages[this.id] + '?' + Date.now()) : false
      },
      available () {
        return this.categoryImages && this.categoryImages[this.id] && this.images.deleted.indexOf(this.id) === -1
      }
    },
    methods: {
      removeImage () {
        this.$refs.file.$refs.input.value = ''
        this.images.deleted.push(this.id)

        console.log(this.images)

        this.$set(this.categoryImages, this.id, false)

        if (this.images._replaced.indexOf(this.id) !== -1) {
          this.images._replaced.splice(this.images._replaced.indexOf(this.id), 1)
        }
      },
      changeImage (event) {
        if (this.images.deleted.indexOf(this.id) !== -1) {
          this.images.deleted.splice(this.images.deleted.indexOf(this.id), 1)
        }

        if (this.images._replaced.indexOf(this.id) === -1) {
          this.images._replaced.push(this.id)
        }

        this.$set(this.categoryImages, this.id, true)

        const input = event.target

        if (input.files && input.files[0]) {
          const reader = new FileReader()

          reader.onload = e => {
            this.$refs.image.setAttribute('src', e.target.result)
          }

          reader.readAsDataURL(input.files[0])
        }
      }
    }
  }
</script>
