<template>
  <form @submit.prevent="onSubmit">
    <div class="field is-horizontal">
      <label class="checkbox">
        <input type="checkbox" id="enabled" v-model="form.enabled">
        Включено
      </label>
    </div>
    <div class="field">
      <label class="label" for="parent_id">Родительская категория</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select id="parent_id" name="parent_id" v-model="form.parent_id">
            <option :value="null"></option>
            <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label" for="title">Название</label>
      <div class="control">
        <input class="input" id="title" v-model="form.title">
      </div>
    </div>
    <div class="field">
      <label class="label" for="title_h1">Название h1</label>
      <div class="control">
        <input class="input" id="title_h1" v-model="form.title_h1">
      </div>
    </div>
    <div class="field">
      <label class="label" for="ord">Порядок</label>
      <div class="control">
        <input class="input" id="ord" v-model="form.ord" type="number">
      </div>
    </div>
    <div class="field">
      <div class="label">Изображение для preview на странице товара</div>
      <div class="control">
        <div class="image-container">
          <content-category-image label="160x160" id="_list.jpg" :category="form" :images="categoryImages"></content-category-image>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="label">Изображение для пункта меню Продукция</div>
      <div class="control">
        <div class="image-container">
          <content-category-image label="40x40" id="_menu.jpg" :category="form" :images="categoryImages"></content-category-image>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Описание</label>
      <quill-editor content=" " v-model="form.descr" :options="editorOption" ref="quill"></quill-editor>
    </div>
    <button class="button is-primary is-large is-circle is-fixed" :class="isSending ? 'is-loading' : ''" v-bind:disabled="isSending || !isChanged">
      <span class="icon is-medium">
        <i class="fa fa-floppy-o"></i>
      </span>
    </button>
  </form>
</template>

  <script>
  import errorParser from '@/helpers/error-parser'
  import formattingToSend from '@/helpers/formatting-to-send'
  import objectToFormData from '@/helpers/object-to-formdata'
  import { beforeLeave, beforeUnload } from '@/helpers/confirm-end'

  import { diff } from 'deep-object-diff'

  import Api from '@/api'
  import File from '@/components/File'

  import store from '@/store'
  import router from '@/router'
  import ContentCategoryImage from '@/components/ContentCategoryImage'

  export default {
    name: 'list-category',
    components: { ContentCategoryImage, File },
    props: {
      category: Object,
      method: String
    },
    created () {
      window.addEventListener('beforeunload', this.handlerBeforeUnload)
    },
    mounted () {
      this.form = {...this.form, ...this.category}
      this.categoryImages = {
        deleted: [],
        _replaced: []
      }

      Api.contentCategories.get().then(({body}) => {
        this.categories = body

        this.$nextTick(() => {
          this.$refs.quill.quill.enable()
        })
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })
      })

      this.$parent.$on('beforeLeave', (to, from, next) => {
        beforeLeave(this, to, from, next)
      })
    },
    watch: {
      category () {
        this.form = {...this.form, ...this.category}
      },
      form: {
        handler () {
          this.changed()
        },
        deep: true
      },
      'form.enabled' (newEnabled, oldEnabled) {
        if (!newEnabled && !!oldEnabled && this.form.items_count && !confirm(`Найдено ${this.form.items_count} товаров для которых эта категория является основной или дополнительной. При отключение категории все товары для которых эта категория указана ОСНОВНОЙ будут также отключены.\n\nВы точно хотите отключить категорию?`)) {
          this.form.enabled = true
        }
      }
    },
    data () {
      return {
        form: {
          images: {},
          descr: '',
          enabled: false,
          parent_id: null,
          ord: null,
          title: '',
          title_h1: ''
        },
        categoryImages: {},
        categories: [],
        changes: {},
        isSending: false,
        categoryId: store.state.route.params.id,
        editorOption: {
          modules: {
            toolbar: [[{ 'header': 2 }],
              ['bold', 'italic', 'underline', 'strike'],
              [{'list': 'ordered'}, {'list': 'bullet'}],
              [{'script': 'sub'}, {'script': 'super'}],
              ['clean'],
              ['link']]
          },
          placeholder: ' ',
          readOnly: true
        }
      }
    },
    methods: {
      changed () {
        this.changes = diff(this.category, this.form)
      },
      onSubmit () {
        if (!this.isSending) {
          this.isSending = true

          let data = {}

          if (this.method === 'update') {
            data._method = 'PUT'
          }

          data = objectToFormData(formattingToSend({
            ...data,
            ...this.changes,
            images: this.categoryImages
          }))

          if (this.categoryImages._replaced) {
            this.categoryImages._replaced.forEach(imageId => {
              data.append('images[replaced][' + imageId + ']', document.getElementById('image[' + imageId + ']').files[0])
            })
          }

          Api.contentCategories[this.method === 'update' ? 'save' : this.method]({id: this.categoryId}, data).then(() => {
            this.changes = {}
            router.go(-1)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            this.isSending = false
          })
        }
      },
      handlerBeforeUnload (event) {
        beforeUnload(this, event)
      }
    },
    computed: {
      isChanged () {
        return !!(Object.keys(this.changes).length) || (this.categoryImages._replaced && this.categoryImages._replaced.length)
      }
    }
  }
</script>