<template>
  <div class="file">
    <label class="file-label">
      <input class="file-input" type="file" :name="id" :id="id" @change="handleChange" ref="input" :accept="accept">
      <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">{{ label }}</span>
    </span>
    </label>
  </div>
</template>

<script>
  export default {
    name: 'file',
    props: {
      accept: String,
      label: String,
      id: String
    },
    methods: {
      handleChange (event) {
        this.$emit('change', event)
      }
    }
  }
</script>

<style lang="scss">
  .is-narrow {
    width: 1px;
  }
</style>
