<template>
  <transition-group name="slideRight" tag="div" class="notification-wrap">
    <div v-for="item in items" class="list-group-item notification" :class="item.type ? 'is-' + item.type : ''" v-bind:key="item._key" v-if="item.show">
      <button class="delete" @click="close(item)"></button>
      <div v-html="item.text" class="notification-body"></div>
      <div class="notification-progress" v-if="item.duration" :style="{transition: 'width ' + item.duration / 1000 + 's linear', width: item.isStarted ? 0 : '100%'}"></div>
    </div>
  </transition-group>
</template>

<style lang="scss" scoped>
  @import '~bulma/sass/utilities/initial-variables';

  .notification-wrap {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 15;
    pointer-events: none;
    max-width: 440px;
  }

  .notification {
    position: relative;
    min-width: 240px;
    width: auto;
    pointer-events: all;
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
    display: inline-block;
    float: right;
    animation-duration: .7s;
  }

  .notification-progress {
    height: 4px;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .notification-body {
    white-space: pre-line;
  }
</style>

<style lang="scss">
  pre.sf-dump,
  pre.sf-dump.sf-dump-default {
    background-color: transparent!important;
    padding: 0!important;
  }
</style>

<script>
  import store from '@/store'

  export default {
    name: 'notification',
    computed: {
      items: () => store.state.notification.items
    },
    methods: {
      close (item) {
        store.commit('notification/hide', item)
        setTimeout(() => {
          this.leaveCancelled(item)
        }, 700)
      },
      leaveCancelled (item) {
      }
    },
    watch: {
      items (items) {
        items.forEach(item => {
          if (item.duration) {
            this.$nextTick(() => {
              store.commit('notification/started', item)
              setTimeout(() => {
                this.close(item)
              }, item.duration)
            })
          }
        })
      }
    }
  }
</script>
