<template>
  <div>
    <h2>Настройки рассылок</h2>
    <div class="field" v-for="(emails, key) in settings" :key="key">
      <label class="label">{{ key | keyName }}</label>
      <div class="field is-grouped" v-for="(email, index) in emails">
        <div class="control is-expanded">
          <input class="input" type="email" placeholder="Email" :value="email.value" :disabled="!email._isEdited" @input="changeValueFormEdit(email, $event.target.value)">
        </div>
        <div class="control">
          <template v-if="email._isEdited">
            <button class="button is-primary" @click="saveFormEdit(email, $event)">
              <span class="icon">
                <i class="fa fa-floppy-o"></i>
              </span>
            </button>
            <button class="button is-danger" @click="cancelFormEdit(email)">
              <span class="icon">
                <i class="fa fa-ban"></i>
              </span>
            </button>
          </template>
          <template v-else>
            <button class="button" @click="openFormEdit(email)">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </button>
            <button class="button is-danger" @click="removeFormEdit(email, emails, index)">
              <span class="icon">
                <i class="fa fa-remove"></i>
              </span>
            </button>
          </template>
        </div>
      </div>
      <div class="field">
        <div class="field is-grouped" v-if="form[key].isEdited">
          <div class="control is-expanded">
            <input type="email" placeholder="Email" class="input" v-model="form[key].value">
          </div>
          <div class="control">
            <button class="button is-primary" @click="saveFormAdd(form[key], key)">
              <span class="icon">
                <i class="fa fa-floppy-o"></i>
              </span>
            </button>
            <button class="button is-danger" @click="cancelFormAdd(form[key])">
              <span class="icon">
                <i class="fa fa-ban"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="control is-expanded" v-else>
          <button class="button is-primary" @click="openFormAdd(form[key])">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
              <span>
                Добавить поле
              </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'
  import Api from '@/api'
  import store from '@/store'

  export default {
    name: 'settings-app',
    data () {
      return {
        settings: {
          report_7th_price_change: [],
          report_specials_items_change_auto: [],
          report_specials_items_change: []
        },
        form: {
          report_7th_price_change: {
            isEdited: false,
            value: ''
          },
          report_specials_items_change_auto: {
            isEdited: false,
            value: ''
          },
          report_specials_items_change: {
            isEdited: false,
            value: ''
          }
        }
      }
    },
    mounted () {
      Api.settings.get().then(({body}) => {
        body.forEach(item => {
          if (Object.keys(this.settings).indexOf(item.name) !== -1) {
            item._isEdited = false

            this.settings[item.name].push(item)
          }
        })
      })
    },
    methods: {
      changeSetting (key, event) {
        this.$set(this.settings, key, event.target.value)
      },
      openFormEdit (email) {
        email._isEdited = true
        email._value = email.value
      },
      cancelFormEdit (email) {
        email._isEdited = false
        this.changeValueFormEdit(email, email.value)
      },
      changeValueFormEdit (email, value) {
        email._value = value
      },
      saveFormEdit (email) {
        email._isEdited = false
        email.value = email._value

        Api.settings.save({id: email.id}, {value: email._value}).then(() => {
          store.commit('notification/add', {
            type: 'success',
            text: 'Настройка обновлена',
            duration: 2000
          })
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      removeFormEdit (email, emails, index) {
        if (confirm('Вы точно хотите удалить поле "' + email.value + '" из настроеек? ')) {
          Api.settings.delete({id: email.id}).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Настройка удалена',
              duration: 2000
            })

            emails.splice(index, 1)
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      },
      openFormAdd (form) {
        form.isEdited = true
      },
      cancelFormAdd (form) {
        form.isEdited = false
        form.value = ''
      },
      saveFormAdd (form, key) {
        Api.settings.update({name: key, value: form.value}).then(({body}) => {
          store.commit('notification/add', {
            type: 'success',
            text: 'Настройка добавлена',
            duration: 2000
          })

          body._isEdited = false

          this.settings[key].push(body)

          this.cancelFormAdd(form)
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }
    },
    filters: {
      keyName: (key) => {
        const names = {
          report_7th_price_change: 'Отчет по измениям седьмой цены с сайта Zaglushka.ru',
          report_specials_items_change_auto: 'Отчет по автоматически отключенным специальным предложениям с сайта Zaglushka.ru',
          report_specials_items_change: 'Отчет по специальным предложениям с сайта Zaglushka.ru'
        }

        return names[key] || key
      }
    }
  }
</script>
