<template>
  <table class="table is-fullwidth table-slug">
    <tbody>
      <tr>
        <template v-if="form.visible">
          <td>
            <input class="input" v-model="form.value" ref="email">
          </td>
          <td class="is-narrow">
            <div class="field is-grouped is-pulled-right">
              <p class="control">
                <button class="button is-primary" v-on:click="saveForm">Сохранить</button>
              </p>
              <p class="control">
                <button class="button is-danger" v-on:click="closeForm">Отмена</button>
              </p>
            </div>
          </td>
        </template>
        <template v-else>
          <td colspan="2">
            <div class="field is-grouped" v-if="!form.visible">
              <div class="control">
                <button class="button is-primary" v-on:click="openForm">Добавить</button>
              </div>
            </div>
          </td>
        </template>
      </tr>
      <template v-for="slug in slugs">
        <tr :class="slug.current ? 'is-selected' : ''">
          <td>{{ slug.slug }}</td>
          <td class="is-narrow">
            <div class="field is-grouped is-pulled-right">
              <p class="control">
                <template v-if="slug.current">
                  <button class="button is-primary is-inverted" disabled>Выбран</button>
                </template>
                <template v-else>
                  <button class="button is-primary" v-on:click="setCurrent(slug, $event)">Выбрать</button>
                </template>
              </p>
              <p class="control" v-if="!slug.current">
                <button class="button is-danger" v-on:click="remove(slug, $event)">Удалить</button>
              </p>
            </div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'slug',
    data () {
      return {
        form: {
          visible: false,
          value: ''
        },
        slugs: []
      }
    },
    props: ['subjectId', 'objectId'],
    computed: {
      hasHeaderSlot () {
        return !!this.$slots.header
      }
    },
    mounted () {
      this.loadSlugs()
    },
    methods: {
      saveForm () {
        Api.seoSlugs.save({slug: this.form.value, subject_id: this.subjectId, object_id: this.objectId}).then(res => {
          this.loadSlugs()
          this.closeForm()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      closeForm () {
        this.form.value = ''
        this.form.visible = false
      },
      openForm () {
        setTimeout(() => {
          this.$refs.email.focus()
        })
        this.form.visible = true
      },
      setCurrent (slug) {
        event.target.classList.add('is-loading')

        Api.seoSlugs.setCurrent({id: slug.id}, {}).then((res) => {
          this.loadSlugs()
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      remove (slug, event) {
        if (confirm('Вы действительно хотите удалить slug "' + slug.slug + '"?')) {
          event.target.classList.add('is-loading')

          Api.seoSlugs.delete({id: slug.id}, {}).then(() => {
            this.loadSlugs()
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      },
      loadSlugs () {
        Api.seoSlugs.get({subjectId: this.subjectId, objectId: this.objectId}).then(res => {
          this.slugs = res.body
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          this.isSending = false
        })
      }
    }
  }
</script>

<style lang="scss">
  .is-narrow {
    width: 1px;
  }

</style>
