<template>
  <section v-show="isActive" :aria-hidden="! isActive" :id="hash">
    <slot />
  </section>
</template>

<script>
  import { slugify } from 'transliteration'

  export default {
    props: {
      id: { default: null },
      name: { required: true },
      prefix: { default: '' },
      suffix: { default: '' }
    },
    data: () => ({
      isActive: false
    }),
    computed: {
      header () {
        return this.prefix + this.name + this.suffix
      },
      hash () {
        return this.id ? '#' + this.id : '#' + slugify(this.name)
      }
    }
  }
</script>