&-popup
    @require table

    &__form
        width 100%

    &__btn
        @extend .btn
        @extend .btn_outline_primary

        font-size 15px
        font-weight 600
        padding-left 17px
        padding-right 17px

        +media-breakpoint-down(sm)
            width 100%

    &__footer
        display flex
        justify-content flex-end
        padding 14px 20px 24px

        +media-breakpoint-down(sm)
            padding 18px 10px
