&-table
    width 100%
    border-spacing 0
    border-bottom 2px solid #e6e6e6

    +media-breakpoint-down(sm)
        border-bottom none
        padding 0 10px

    &__thead
        +media-breakpoint-down(sm)
            display none

    &__th
        font-size 15px
        font-weight 600
        border-bottom: 1px solid $colors.secondary
        white-space nowrap
        padding 31px 18px 12px
        text-align left

        +media-breakpoint-down(md)
            padding 11px 9px

    &__td
        padding 22px 18px
        font-size 14px
        position relative

        +media-breakpoint-down(md)
            padding 11px 9px

        +media-breakpoint-down(sm)
            display flex
            flex-wrap wrap
            border-bottom 1px solid #e7e7e7
            padding 10px 0

        &_description
            max-width 260px
            line-height 18px

        &_image
        &_article
        &_description
            +media-breakpoint-down(sm)
                display none

    &__mob-title
        display none
        margin-bottom 3px
        font-size 15px
        width 130px
        padding-right 10px
        flex-shrink 0

        +media-breakpoint-down(sm)
            display block

    &__article
        white-space nowrap

    &__select
        position relative
        min-width 103px

        +media-breakpoint-down(sm)
            flex-grow 1

        select
            height 34px
            width 100%
            border: 1px solid $colors.primary
            background-color #fff
            border-radius: 1px
            font-weight 600
            padding 0 17px 0 7px
            appearance none

            &::-ms-expand
                display none

        > .icon
            position: absolute
            right: 8px
            top: calc(50% - 8px)
            pointer-events: none

    &__input
        height: 34px
        width 80px
        border: 1px solid $colors.primary
        border-radius 1px
        font-weight 600
        padding 0 7px

    &__tooltip
        @extend .popover

        &_middle-price
            left 0
            top calc(100% + 9px + 1em)
            position absolute
            width 230px

            +media-breakpoint-down(sm)
                width calc(100vw - 30px)!important
                margin-left -130px!important

        &_is-stock
            display none

        +media-breakpoint-down(sm)
            width 100%
            margin-left 130px

    &__middle-price
        color #999
        font-size 12px
        line-height 16px
        position absolute
        top calc(100% + 6px)
        left 0
        white-space nowrap

        +media-breakpoint-down(sm)
            margin-left -130px

    &-prices
        font-size 12px
        line-height 18px
        display none
        margin-top 10px
        max-width 150px

        +media-breakpoint-down(sm)
            max-width none
            width 100%
            margin-left 130px

        &__row
            display flex
            justify-content space-between

            +media-breakpoint-down(sm)
                max-width 150px

        &__key
            &_active
                position relative

                &:before
                    content ''
                    display inline-block
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color: transparent transparent transparent $colors.primary
                    position absolute
                    right calc(100% + 5px)
                    top calc(50% - 3px)

        &__value
            color: $colors.primary
            font-weight 600
            padding 0 5px

            &_active
                background-color: $colors.primary
                color: #fff

    &__wrap
        overflow auto
