&-form
    display flex
    margin-bottom 21px

    +media-breakpoint-down(sm)
        flex-direction column

        ^[-1]-delivery__body-payment &
            position relative
            padding-bottom 14px

            &:before
                content ''
                display block
                width calc(100% + 54px)
                border-top 1px solid #e7e7e7
                position absolute
                top -22px
                left -43px

            &:nth-child(2)
                margin-bottom 15px

                &:after
                    content ''
                    display block
                    width calc(100% + 54px)
                    border-top 1px solid #e7e7e7
                    position absolute
                    bottom 2px
                    left -43px

    &_horizontal
        flex-direction column

    & + &_horizontal
        margin-top 29px

    &__label
        width 90px
        margin-right 30px
        text-align right
        font-size 14px
        line-height 16px
        flex-shrink 0
        display flex
        align-items center
        justify-content flex-end

        +media-breakpoint-down(sm)
            width 100%
            justify-content flex-start
            padding-bottom 11px

        ^[-1]_there-text &
            padding-bottom 25px

            +media-breakpoint-down(sm)
                padding-bottom 11px

        ^[-1]_horizontal &
            text-align left
            width 100%
            margin-right 0
            margin-bottom 13px
            justify-content flex-start

            +media-breakpoint-down(sm)
                margin-bottom 0

    &__field
        display flex
        align-items center

        +media-breakpoint-down(sm)
            flex-wrap wrap

    &__input
        font-size 14px
        border 1px solid #cdcdcd
        border-radius 1px
        background-color #fff
        padding 0 13px
        appearance none
        text-indent 1px
        text-overflow ''
        font-weight 600
        height 32px
        flex-shrink 0
        transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear
        width 257px

        +media-breakpoint-down(sm)
            width 100%

        &_phone
            width 155px

            +media-breakpoint-down(sm)
                width 100%

        &_inn
            width 110px

            +media-breakpoint-down(sm)
                width 100%

        &_invoice
            width 189px

            +media-breakpoint-down(sm)
                width 100%

        &:hover
            border-color #939393

        &.error
            border-color: $colors.primary

        &:focus
            background-color #f8f8f8
            box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

        &:not(:last-of-type)
            margin-bottom 9px

        &::placeholder
            opacity 1
            color #d0d0d0

        + .error
            color: $colors.primary
            font-size 13px
            margin-left 18px
            display inline-block

            +media-breakpoint-down(sm)
                margin-left 0
                margin-top 2px

    &__textarea
        font-size 13px
        border 1px solid #cdcdcd
        border-radius 1px
        background-color #fff
        padding 8px 13px
        appearance none
        text-indent 1px
        text-overflow ''
        line-height 18px
        font-weight 600
        transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear

        ^[-1]_horizontal &
            width 100%

        &:hover
            border-color #939393

        &:focus
            background-color #f8f8f8
            box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

        &:not(:last-of-type)
            margin-bottom 9px

        &::placeholder
            opacity 1
            color #d0d0d0

    &__text
        color #939393
        font-size 13px
        line-height 18px
        margin-top 7px

        +media-breakpoint-down(sm)
            font-size 12px
            margin-top 4px

    &__btns
        display flex
        justify-content flex-end

    &__file
        font-size 14px
        outline 0

        &_active
        &:hover
        &:focus
            text-decoration none

        &_active
            cursor default

        input
            display none

        &-icon
            color: $colors.primary
            cursor pointer
            height 12px
            width 12px
            margin 0 0 -1px 8px

        &-name
        &-icon
            ^[-1]:not(^[-1]_active) &
                display none

        &-placeholder
            @extend .link

            text-decoration underline

            ^[-1]_active &
                display none

    &__checkbox
        font-size 13px
        cursor pointer

        &:hover
            input + span
                &:before
                    border-color #939393

        &:focus
            outline none

            input + span
                &:before
                    background-color #f8f8f8
                    box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

        input
            display none

            + span
                display flex
                align-items center
                position relative
                padding-left 27px

                > .icon
                    position absolute
                    left 3px
                    top 4px
                    width 10px
                    height 8px
                    color transparent
                    transition color .1s linear

                &:before
                    content ''
                    height 15px
                    width 15px
                    display inline-block
                    background-color #fff
                    border-radius 1px
                    border 1px solid #cdcdcd
                    margin-bottom -1px
                    transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear
                    position absolute
                    left 0
                    top 0

            &:checked + span
                &:before
                    border-color: $colors.primary
                    background-color: $colors.primary
                    box-shadow none

                > .icon
                    display block
                    color #fff

    &__radio
        font-size 14px
        cursor pointer
        margin-top -7px
        margin-left -32px
        display flex
        align-items center

        &-images
            display inline-flex
            align-items center

            +media-breakpoint-down(sm)
                width 100%
                margin-top 9px

        &:hover
        &:focus
            outline none

            input + span
                &:before
                    border-color #939393

        img
            margin-left 12px

            &:nth-child(1)
                margin-left 0

        input
            display none

            + span
                position relative
                width 21px
                height 21px
                margin-right 11px
                flex-shrink 0

                &:before
                    content ''
                    height 20px
                    width 20px
                    border-radius 50%
                    background-color #f9f9f9
                    position absolute
                    left 0
                    top 0
                    box-shadow inset 0 1px 2px 0 rgba(0, 0, 0, .31)
                    border 1px solid #cdcdcd
                    transition border-color .1s linear

                &:after
                    content ''
                    height 10px
                    width 10px
                    border-radius 50%
                    background-color transparent
                    position absolute
                    left 5px
                    top 5px
                    transition background-color .1s linear

            &:checked + span
                &:after
                    background-color: $colors.primary

    &__entity
        border-top 1px solid #eaeaea
        padding-top 22px

        &:not(&_active)
            display none

    &__btn
        @extend .btn
        @extend .btn_outline_primary

        font-size 15px
        padding-left 23px
        padding-right 23px

        +media-breakpoint-down(sm)
            width 100%
