.ordering
    @require delivery
    @require list
    @require step
    @require tab
    @require form

    &__row
        @extend .row
        @extend .row_doub

    &__left
        @extend .col_lg_16

        +media-breakpoint-down(sm)
            margin-bottom 6px
            padding-left 0
            padding-right 0
            margin-left -5px
            margin-right -5px
            width calc(100% + 10px)

    &__right
        @extend .col_lg_8

        padding-left 0
        padding-right 0
        margin-left -5px
        margin-right -5px
        width calc(100% + 10px)

    &__block
        background-color #fff
        block-shadow()

        &_step
            padding 0 21px 7px 17px

            +media-breakpoint-down(sm)
                padding-left 11px
                padding-right 11px
