.p-delivery
    @require map
    @require mob
    @require tab

    &__map
        background-color #fff
        height 616px
        margin-top ($grid-gutter / 2)
        margin-bottom -($grid-gutter / 2)
        position relative

        +media-breakpoint-down(sm)
            max-height 80vh
            margin-left -5px
            margin-right -5px
            margin-bottom 0

            &_tks
                margin-bottom -15px

        &-wrap
            @extend .row

            position absolute
            top 0
            left 0
            height 100%
            width "calc(100% + %s)" % $grid-gutter
            z-index 2
            transition opacity .1s linear

            +media-breakpoint-down(sm)
                width 100%

            &_disabled
                opacity .3

            &:empty:after
                content ''
                display block
                left 0
                right 0
                top 0
                bottom 0
                position absolute
                background-color #fff

        &-touch
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            height 100%
            width 100%
            text-align center
            align-items center
            justify-content center
            background-color #000
            color #fff
            padding 0 15px
            font-size 24px
            line-height 1.4em
            opacity 1
            pointer-events none
            z-index 1
            display none

            .touchevents &
                display flex

    &__body
        padding 0 20px
        font-size 15px

        +media-breakpoint-down(sm)
            padding 0 6px

    &__paragraph
        line-height 22px
        margin-bottom 21px

        +media-breakpoint-down(sm)
            line-height 20px

    &__title
        font-weight 600
        margin-bottom 9px

        &_slider
            margin-top -14

            +media-breakpoint-down(sm)
                margin-top 0

        +media-breakpoint-down(sm)
            line-height 20px

    &__slider
        height 56px

        &-wrap
            margin-top 19px
            margin-bottom 23px
            padding 0 65px
            position relative

        &-container
            position static

        &-prev
        &-next
            background-image url(/images/delivey-slider-arrow.svg)
            background-position center
            background-repeat no-repeat
            height 50px
            width 25px
            position absolute
            z-index 1
            cursor pointer
            top 0

            &:hover
            &:focus
                background-position center

        &-prev
            left 0

        &-next
            transform rotate(180deg)
            right 0

        &-item
            width auto
            max-width 100%
            display inline-flex
            align-items center
            justify-content center

            img
                max-width 100%

    &__list
        list-style none
        padding 0
        margin 0 0 36px 0
        line-height 20px

        li
            &:before
                content '—'
                margin-right 11px

    &__link
        @extend .link

        text-decoration underline
