&-catalog
    &:not(:last-of-type)
        margin-bottom: $grid-gutter

    &__row
        @extend .row

        +media-breakpoint-down(sm)
            justify-content center

        &-mob
            width 100%
            display none
            position relative

            +media-breakpoint-down(sm)
                display flex

    &__title
        font-weight 400
        font-size 24px

        +media-breakpoint-down(sm)
            text-align center
            font-size 15px
            max-width calc(100vw - 200px)
            line-height 18px
            margin 11px 0

    &__link
        color inherit
        text-decoration none

        &-mob
            display flex
            align-items center
            justify-content center
            color: $colors.primary
            position absolute
            left 0
            top calc(50% - 12px)
            transform rotate(180deg)
            padding 5px 0 5px 10px

            &-icon
                height 15px
                width 9px

    &__wrap
        &_mob
            display none

            +media-breakpoint-down(sm)
                display block

        +media-breakpoint-down(sm)
            display none

    &__filter-mob
        font-size 15px
        cursor pointer
        color: $colors.primary
        position absolute
        right 0
        height 20px
        top calc(50% - 10px)
        display flex
        align-items center
        justify-content center

        &-num
            background-color: $colors.primary
            color #fff
            font-size 13px
            height 20px
            width 20px
            border-radius 50%
            display flex
            align-items center
            justify-content center
            text-align center
            margin-left 5px

            &:empty
                display none
