&-epilog
    @extend .col_24

    margin-top: $grid-gutter
    line-height: $line-height
    padding 0

    &__block:not(:last-of-type)
        margin-bottom: $grid-gutter

    &__title
        margin 0 0 20px 0
        font-weight 400
        font-size 24px

        +media-breakpoint-down(sm)
            font-size 18px
            margin-bottom 15px

    &__paragraph
        margin 0

        +media-breakpoint-down(sm)
            font-size 15px
