.p-main
    @require catalog
    @require epilog

    &__title
        text-align center
        margin-top: $grid-gutter
        margin-bottom -($grid-gutter / 2)

        +media-breakpoint-down(sm)
            margin-bottom 11px
            margin-top 11px
            font-weight 400
