<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <content-hot-form :item="{}" method="save"></content-hot-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ContentHotForm from '@/components/ContentHotForm'

  export default {
    name: 'content-hot-create',
    components: {ContentHotForm},
    beforeRouteLeave (to, from, next) {
      this.$emit('beforeLeave', to, from, next)
    }
  }
</script>