<template>
  <div class="page">
    <div class="header">
      <h1 class="title">{{ this.$route.meta.title }}</h1>
      <router-link :to="{ name: 'content-hot-create' }" class="button">Добавить</router-link>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="menu">
            <div class="panel">
              <template v-for="item in foundItem">
                <router-link :to="{ name: 'content-hot', params: { id: item.id }}" class="panel-block" :class="item.enabled ? '' : 'panel-block_disabled'">
                  <span>
                    <template v-if="!item.enabled">
                      <i class="fa fa-trash-o"></i>
                    </template>
                    <span v-html="$options.filters.search(item.title, search)"></span>
                  </span>
                  <div class="field is-grouped">
                    <div class="control">
                      <router-link :to="{ name: 'content-hot', params: { id: item.id }}" class="button" title="Редактировать">
                        <i class="fa fa-pencil"></i>
                      </router-link>
                    </div>
                    <div class="control">
                      <button class="button is-danger" title="Удалить" @click="removeItem(item, $event)">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                  </div>
                </router-link>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'
  import Api from '@/api'

  import decodeHtmlEntities from '@/helpers/decode-html-entities'
  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'content-hot-list',
    data () {
      return {
        search: store.state.route.query.search,
        category: {},
        items: []
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      this.loadItems().then(() => {
        store.dispatch('pageload/complete')
      })
    },
    computed: {
      foundItem () {
        if (this.search) {
          return this.items.filter(item => new RegExp(this.search, 'i').test(item.title))
        } else {
          return this.items
        }
      }
    },
    methods: {
      loadItems () {
        return Api.contentItemsHot.get().then(({body}) => {
          body.forEach(item => {
            Object.entries(item).forEach(([key, value]) => {
              if (key === 'title') {
                item[key] = decodeHtmlEntities(value)
              }
            })
          })

          this.items = body
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })

          store.commit('pageload/error')
        })
      },
      removeItem (item, event) {
        if (confirm('Вы действительно хотите удалить "' + item.title + '"?')) {
          event.target.classList.add('is-loading')

          Api.contentItemsHot.delete({id: item.id}).then(() => {
            this.loadItems()
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      },
      goIfOne () {
        if (this.foundItem.length === 1) {
          router.push({
            name: 'content-hot',
            params: {
              id: this.foundItem[0].id
            }
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px;
  }

  .panel-block {
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }
</style>
