$grid-columns = 24;
$grid-gutter = 30px;

$grid-breakpoints = {
    xs: 0,
    sm: 586px,
    md: 768px,
    lg: 1007px,
    xl: 1220px
}

$container-max-widths = {
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
}

$colors = {
    primary: #c54004,
    secondary: #00997b,
    gray: #9c9c9c
}

$line-height = 1.5em
