<template>
  <div class="page">
    <div class="page">
      <h1 class="title">Добавление тега</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-tag-form :tag="{}" method="save"></content-tag-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ContentTagForm from '@/components/ContentTagForm'

  export default {
    components: {ContentTagForm},
    name: 'content-tags-create',
    beforeRouteLeave (to, from, next) {
      this.$emit('beforeLeave', to, from, next)
    }
  }
</script>