<template>
  <div class="page">
    <div class="page" v-if="Object.keys(tag)">
      <div class="header">
        <h1 class="title">Редактирование тега: {{ tag.title }}</h1>
        <router-link :to="{ name: 'admin-activity-subject', params: { subjectId: 3, objectId: id }}" class="button" v-if="$can('read activity')">
          <span class="icon">
            <i class="fa fa-rss"></i>
          </span>
          <span>Последние изменения</span>
        </router-link>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-tag-form :tag="tag" method="update"></content-tag-form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import ContentTagForm from '@/components/ContentTagForm'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import errorParser from '@/helpers/error-parser'

  export default {
    components: {ContentTagForm, NotFoundComponent},
    name: 'content-tags',
    data () {
      return {
        tag: {},
        id: store.state.route.params.id
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentTags.get({id: this.id}).then(res => {
        this.tag = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    beforeRouteLeave (to, from, next) {
      this.$emit('beforeLeave', to, from, next)
    }
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }
</style>