<template>
  <component-list :method="method" :routerNameItem="routerNameItem"></component-list>
</template>

<script>
  import Api from '@/api'

  import ComponentList from './ComponentList.vue'

  export default {
    data () {
      return {
        method: Api.tags.getSeo,
        routerNameItem: 'content-tags-seo'
      }
    },
    components: {ComponentList}
  }
</script>