&-color
    padding 8px 0 10px

    &__block
        &:not(:last-child)
            border-bottom 1px solid #e7e7e7

        &:not(:first-child)
            margin-top 8px

    &__item
        padding 6px 10px
        font-size 15px

        &:not(:last-child)
            border-bottom 1px solid #e7e7e7

    &__title
        padding 6px 10px
        font-size 14px
        font-weight 600
        border-bottom 1px solid #e7e7e7

    &__header
        display flex
        justify-content space-between

    &__line
        display flex

    &__line-quant
        display flex
        justify-content flex-end
        margin-top 4px

    &__quant
        margin-left auto

    &__name
        display flex
        align-items center

        .product-item-color-box
            margin 0 10px 0 0
            width 14px
            height 14px

