&-free
    position relative
    padding 17px 0 7px
    margin-top 15px
    display none

    +media-breakpoint-down(sm)
        display block

    &__text
        font-size 13px
        line-height 19px
        margin-bottom 7px

    &__btn
        display inline-block
        cursor pointer
        font-size 14px
        color: $colors.primary
        text-decoration underline
        font-weight 600

    &:before
        content ''
        border-top 1px solid #E7E7E7
        width calc(100% + 20px)
        position absolute
        left -10px
        top 0