&-item
    @require prices
    @require free
    @require list
    @require property
    @require color

    width 100%
    position relative
    padding-top 5px
    display none

    +media-breakpoint-down(sm)
        display block

    &:before
        content ''
        border-top 1px solid #E7E7E7
        width calc(100% + 20px)
        position absolute
        left -10px
        top 0

    &__btn
        @extend .btn
        @extend .btn_outline_primary

        width 100%
        margin-top 21px
        font-size 15px
        font-weight 600
        display none

        +media-breakpoint-down(sm)
            display block
