&-list
    width 100%
    background-color #fff
    margin-top 6px
    display none

    block-shadow()

    +media-breakpoint-down(sm)
        display block

    &__item
        transition border-top .15s linear

        &:not(:first-child)
            border-top 1px solid transparent

        &:not(:first-child):not(&_active)
            border-top-color #d3d3d3

    &__title
        padding 0 10px
        height 48px
        display flex
        align-items center
        cursor pointer
        font-size 15px
        position relative
        transition background-color .15s linear, color .15s linear

        ^[-1]__item_active &
            background-color: $colors.secondary
            color #fff

    &__icon
        height 24px
        width 24px
        margin-right 11px
        color: $colors.secondary
        transition color .15s linear

        ^[-1]__item_active &
            color #fff

    &__arrow
        position absolute
        right 14px
        top calc(50% - 4px)
        height 8px
        width 14px
        transition transform .15s linear

        ^[-1]__item_active &
            transform rotate(180deg)

    &__body
        display none

    &__description
        padding 11px 10px
        font-size 15px
        line-height 22px

        *:first-child
            margin-top 0

        *:last-child
            margin-bottom 0
