&-prices
    font-size 14px
    width 100%
    border-spacing 0

    tr
        height 28px

    tbody
        tr:nth-child(odd)
            background-color #f5f5f5

        td:last-child
            padding-right 7px

        td:not(:first-child)
            font-weight 600

    thead
        td:nth-child(2)
            text-transform capitalize

    td:not(:first-child)
        text-align right

    td:first-child
        padding-left 9px

    &__price
        &_discount
            color: $colors.primary

        &-discount
            color #fff
            display inline-block
            border-radius 50%
            font-size 10px
            height 16px
            width 16px
            background-color: $colors.primary
            padding 3px 4px 0 0