&-property
    padding 13px 10px

    &__item
        &:not(:last-child)
            margin-bottom 10px

    &__title
        font-size 13px
        color #707070
        margin-bottom 2px

    &__value
        font-size 15px
        line-height 20px