<template>
  <div class="page">
    <h1 class="title has-text-centered">Здраствуйте, {{ user.name }}.</h1>
    <april-first-button></april-first-button>
    <div class="box">
      <h2 class="is-size-5">Обновление админки от 09.04.2020</h2>
      Убрали котика
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import AprilFirstButton from '@/components/AprilFirstButton'

  export default {
    components: {
      AprilFirstButton
    },
    name: 'hello',
    data () {
      return {
        user: {}
      }
    },
    mounted () {
      this.user = store.state.user
    }
  }
</script>
