<template>
  <div class="page">
    <div class="page-title">404</div>
    <div>У нас такой страницы нет</div>
    <div>Ну ты заходи если что</div>
  </div>
</template>

<script>
  export default {
    name: 'notFoundComponent'
  }
</script>

<style lang="scss" scoped>
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;

    &-title {
      font-size: 10rem;
    }
  }
</style>