.contacts
    @require item

    margin-bottom 15px

    @extend .row

    &__title
        font-size 15px
        font-weight 600
        line-height 24px
        border-bottom 1px solid #cdcdcd
        margin 0 0 24px 0
        padding-bottom 7px

        &-wrap
            @extend .col

            +media-breakpoint-down(sm)
                padding-left 6px
                padding-right 6px

        +media-breakpoint-down(sm)
            border-bottom-color: $colors.secondary
            display flex
            justify-content space-between
            align-items center
            line-height 19px

    &__subtitle
        font-size 15px
        font-weight 600
        line-height 24px
        margin 0 0 10px 0

        &-wrap
            @extend .col

            +media-breakpoint-down(sm)
                padding-left 6px
                padding-right 6px

        +media-breakpoint-down(sm)
            display flex
            justify-content space-between
            align-items center
            line-height 19px

    &__tooltip
        height 21px
        width 21px
        border-radius 50%
        border 1px solid #cdcdcd
        color #cdcdcd
        font-size 14px
        line-height 20px
        cursor pointer
        margin-left 6px
        transition border-color .15s linear, color .15s linear
        display inline-flex
        align-items center
        justify-content center

        &:after
            content '?'
            display inline-block

        &:hover
            border-color #939393
            color #939393

        +media-breakpoint-down(sm)
            flex-shrink 0
