&-item
    &:not(&_block)
        @extend .col_xl_8
        @extend .col_md_12

    &_block
        @extend .col_24

    display flex
    align-items center
    margin-bottom 25px

    &__img
        margin-right 25px

        +media-breakpoint-down(xs)
            margin-right 15px

        img
            width 94px
            height 9 4px
            border-radius 50%

    &__text
        font-size: 15px
        line-height 20px

    &__name
        font-weight 600

    &__email
        word-break break-all
