.pagination
    @extend .row

    margin-top: $grid-gutter

    &__list
        @extend .col_24

        list-style none
        display flex
        justify-content center
        margin 0

    &__item
        margin 0 5px
        min-height 35px
        min-width 35px
        display flex
        align-items center
        justify-content center
        border: 1px solid transparent

        &:not(&_disabled)
            background-color #e6c496
            border-color: $colors.primary

        &_active
        &:hover
        &:focus
            &:not(^[-1]_disabled)
                background-color: $colors.primary
                color #fff

    &__link
        text-decoration none
        color inherit
        height 100%
        width 100%
        display flex
        align-items center
        justify-content center
