.mob-product
    @require item

    background-color #fff

    block-shadow()

    &:not(:last-child)
        margin-bottom 6px

    &__list
        margin 6px -6px 0
        display none

        +media-breakpoint-down(sm)
            display block

    &__header
        width 100%
        display flex
        align-items center
        border-bottom 1px solid #cdcdcd
        padding 3px 4px

    &__index
        display flex
        align-items center
        justify-content center
        text-align center
        position relative
        background #f5f5f5
        border 1px solid #cdcdcd
        height 24px
        width 20px
        margin-right 24px
        font-size 14px
        padding-left 2px

        &:after
            content ''
            display inline-block
            background-image url(/images/mob-product-arrow.svg)
            background-position center right
            background-repeat no-repeat
            background-size cover
            height 24px
            position absolute
            width 9px
            right -9px
            top -1px

    &__body
        width 100%
        display flex
        border-bottom 1px solid #cdcdcd
        justify-content space-between

    &__images
        display flex
        flex-direction column
        align-items center
        justify-content center
        margin 10px
        width 110px
        flex-shrink 0

    &__image:not(:last-child)
        margin-bottom 6px

    &__footer
        width 100%
        height 33px
        display flex
        align-items center
        justify-content space-between
        padding-bottom 3px

    &__price
        font-weight 600

        &_discount
            color: $colors.primary

    &__prices
        border-spacing 0
        width 100%
        margin-right 10px

        thead
            font-size 13px

        tbody
            font-size 14px

            tr:nth-child(odd)
                background-color #f5f5f5

        td
            height 26px

            &:first-child
                padding-left 9px

            &:last-child
                text-align right
                padding-right 9px

        &-wrap
            flex-grow 1
            width 100%

    &__price-discount
        color #fff
        display inline-block
        border-radius 50%
        font-size 10px
        height 16px
        width 16px
        background-color: $colors.primary
        padding 3px 4px 0 0

    &__remains
        font-size 13px
        color: $colors.secondary
        padding-left 13px

        &_gray
            color #939393

        &:before
            content ''
            display inline-block
            height 4px
            width 4px
            background-color currentColor
            border-radius 50%
            position relative
            top -1px
            margin-right 1px

    &__link
        font-size 13px
        color: $colors.primary
        text-decoration none
        margin-right 7px

        &-icon
            transform rotate(270deg)

    &__article
        font-size 15px

        &-text
            font-size 13px
            margin-right 10px
