.page-actions
    &__title
        font-size 14px

    &__item
        @extend .link

        display inline-flex
        align-items center
        text-decoration none
        position relative
        margin-top 4px

        &:not(:last-child)
            margin-right 58px

            &:after
                position absolute
                content ''
                display inline-block
                height 18px
                width 1px
                right -31px
                background-image url('/images/divider-breadcrumb.svg')
                background-position center
                background-repeat no-repeat
                pointer-events none

    &__icon
        margin-right 9px
