$hotMediaWidth = 1790px

.hot
    @require item

    position absolute
    z-index 1
    left "calc(100% + %s)" % ($grid-gutter / 2)
    display flex
    flex-direction column
    align-items flex-end

    @media (min-width $hotMediaWidth +1)
        width 275px
        top 10px!important

        &__wrap
            position relative
            @extend .row

            +media-breakpoint-down(md)
                display none

    @media (max-width $hotMediaWidth)
        left inherit
        right 0
        position fixed
        top 110px

    +media-breakpoint-down(md)
        display none
