&-item
    background-color #fff
    max-width 100%

    @media (min-width $hotMediaWidth +1)
        block-shadow()

    @media (max-width $hotMediaWidth)
        height 255px
        max-height 255px
        cursor pointer

    &:not(:last-of-type)
        margin-bottom ($grid-gutter / 2)

    &__title
        color #fff
        font-size 20px
        line-height 20px
        text-align center

        @media (max-width $hotMediaWidth)
            writing-mode vertical-rl
            transform rotate(180deg)
            height 255px
            display flex
            align-items center
            justify-content center
            position relative
            background-color transparent

        &-wrap
            padding 15px 10px
            background-color: $colors.secondary
            width 100%

            @media (max-width $hotMediaWidth)
                position absolute
                left 0
                bottom 0
                height 100%
                width inherit

    &__text
        padding 20px
        font-size 14px
        text-align center
        background-color #fff

        p
            margin 0

        a:not([class])
            @extend .link

        @media (max-width $hotMediaWidth)
            display none

    &__image
        margin ($grid-gutter / 2) 0

    &__btn
        margin-top ($grid-gutter / 2)

    &__close
        position absolute
        height 29px
        right 0
        background-color #fff
        font-size 14px
        padding 0 10px
        top -30px
        display none
        align-items center
        cursor pointer

        &:hover
        &:focus
            background-color: $colors.primary
            color #fff

        &-icon
            font-size 22px
            margin-bottom -1px
            display inline-block

        &-text
            display inline-block

    @media (max-width $hotMediaWidth)
        &_active
            width 275px
            z-index 1
            margin-right ($grid-gutter / 2)
            position relative
            cursor inherit
            block-shadow()

            & ^[-1]
                &__text
                    display block
                    block-shadow()

                &__title
                    transform none
                    writing-mode lr-tb
                    height auto

                    &-wrap
                        position inherit
                        width 100%

                &__close
                    display flex
