&-header
    display flex

    +media-breakpoint-down(sm)
        padding 10px 11px

    &__item
        padding 19px 20px
        cursor pointer
        background-color #f9f9f9
        border 1px solid #cdcdcd
        flex-grow 1
        transition background-color .1s linear, color .1s linear

        +media-breakpoint-up(md)
            border-top none

            &:first-child
                border-left 0

            &:last-child
                border-right 0
                flex-grow 4

        +media-breakpoint-down(sm)
            border-color: $colors.secondary
            padding 12px 15px
            font-size 15px
            line-height 20px
            display flex
            text-align center
            align-items center
            justify-content center

        &:not(&_active):hover
            background-color #f2f1f1

        &_active
            background-color #fff
            border-color transparent

            +media-breakpoint-down(sm)
                background-color: $colors.secondary
                color #fff
