&-tab
    @require header

    padding 40px 25px 0

    +media-breakpoint-down(sm)
        padding 11px 0 0 0

    &__item
        display none

        &_active
            @extend .row

            display flex
