&-cart
    td
        padding 3px 20px
        position relative

    th
        padding-left 20px
        padding-right 20px

    &__middle
        &-price
            position absolute
            top calc(100% + 5px)
            left calc(50% - 89px)
            font-size 12px
            color #989898
            text-align center

        &-block
            top 100%
            position absolute
            width 230px
            left calc(50% - 115px)
            text-align left

    &__popover
        @extend .popover

        left 0
        top calc(100% + 10px + 1em)
        position absolute
        width 230px

        &-text
            line-height 16px
            margin-bottom 4px

        &:after
        &:before
            left 50%

    &__wrap
        +media-breakpoint-down(md)
            overflow auto

        +media-breakpoint-down(sm)
            display none
