&-complete
    background-color #fff
    padding-top ($grid-gutter / 2)
    padding-bottom ($grid-gutter / 2)
    block-shadow()

    @extend .col_24

    &__title
        font-size 18px
        margin-bottom 20px

    &__text
        font-size 14px
