&-empty
    background-color #fff
    padding-top ($grid-gutter / 2)
    padding-bottom ($grid-gutter / 2)
    block-shadow()

    @extend .col_24

    &__title
        margin-bottom 16px
        margin-top 0
        font-size 20px

    &__text
        margin-bottom 0
