.order
    @require cart
    @require total
    @require table

    @require popup
    @require empty
    @require complete

    &__row
        @extend .row

        flex-direction column

        +media-breakpoint-down(sm)
            margin-left -5px
            margin-right -5px

    &__step
        display none
        flex-direction column

        +media-breakpoint-up(md)
            &_cart
                box-shadow 0 2px 4px 0 rgba(0, 0, 0, .36)

        &_active
            display block

    &__btn
        padding-left 30px
        padding-right 30px
        margin 0 ($grid-gutter / 4)
        font-size 18px

        &:first-child
            margin-right auto
            margin-left 0

        &:last-child
            margin-right 0

        &_left
            float left

        &_right
            float right

        +media-breakpoint-down(sm)
            width 100%
            font-size 15px
            font-weight 600

    &__buttons
        margin-top 12px

        +media-breakpoint-down(sm)
            width 100%

    &__shipping
        &-icon
            margin-right 18px

            +media-breakpoint-down(sm)
                margin-right 13px
                margin-top 10px
                flex-shrink 0

        &-text
            max-width 400px

            +media-breakpoint-down(sm)
                font-size 13px
                line-height 17px

        &-info
            padding-left 288px
            font-size 12px
            line-height 16px
            color #777
            display flex
            align-items center

            +media-breakpoint-down(lg)
                padding-left 210px

            +media-breakpoint-down(md)
                padding-left 25px

            +media-breakpoint-down(sm)
                padding-left 0
                display flex

            &-active
                display none

                ^[-1]_active &
                    display inline

            &-disabled
                ^[-1]_active:not(^[-1]_primary) &
                    display none

            &_active
                color: $colors.secondary

            &_primary
                color: $colors.primary

            +media-breakpoint-down(sm)
                font-size 16px
                line-height normal
