&-total
    background-color: $colors.secondary
    color #fff
    text-align right
    padding 9px 20px

    +media-breakpoint-down(sm)
        padding-left 10px
        padding-right 10px

    &_primary
        background-color: $colors.primary

    &__amount
        font-size 15px

        +media-breakpoint-down(sm)
            display flex

            &-title
                width 135px
                text-align left

            &-value
                font-weight 600
