&-footer
    background-color #fff

    display flex
    align-items center
    justify-content space-between
    padding 20px

    +media-breakpoint-down(sm)
        flex-direction column
        padding 10px
