&-table
    background-color #fff
    border-spacing 0
    width 100%

    @require footer

    &__head
        background-color: $colors.secondary

    &__th
        color #fff
        font-size 18px
        font-weight 400
        height 52px

    &__td
        &_price
            font-size 25px
            width 16%
            text-align center
            padding-right 10px

            +media-breakpoint-down(md)
                font-size 22px
                width auto

            +media-breakpoint-down(sm)
                font-size 20px

        &_name
            padding 26px 0
            line-height 18px
            vertical-align top
            font-size 18px

            +media-breakpoint-down(sm)
                text-indent 100%
                white-space nowrap
                overflow hidden
                max-width 0

        &_text
            width 40%
            padding 26px 5%
            vertical-align top
            font-size 15px
            line-height 18px
            text-align left

            +media-breakpoint-down(md)
                padding-left 10px
                padding-right 10px
                width auto

        &_img
            vertical-align top
            min-width 20px
            text-align center

    &__tr
        &_single
            > td
                border-bottom: 1px solid $colors.primary

        &_double
            &_first
                > td[rowspan="2"]
                    border-bottom: 1px solid $colors.primary

            &_second
                > td
                    border-bottom: 1px solid $colors.primary

    &__img
        margin 20px 19px 0 24px

        +media-breakpoint-down(md)
            margin-left 5px
            margin-right 5px

    &__input
        border 1px solid #e5e5e5
        border-top-color #bdbdbd
        width 100%
        display flex
        align-items center
        justify-content space-between
        padding 11px 15px
        font-size 15px
        border-radius 4px
        outline 0
        background-color #fff
        height 43px
        position relative
        margin 10px 0

        > input[type="file"]
            width 1px
            height 1px
            position absolute
            opacity 0
            top 50%
            left 50%

        &-btn
            @extend .btn
            @extend .btn_size_middle
            @extend .btn_outline_primary

            border-top-right-radius 4px
            border-bottom-right-radius 4px
            margin-right -($grid-gutter / 2)

        &:hover
            & ^[-1]-btn
                background-color: $colors.primary
                color #fff

        &-file-name
            overflow hidden
            padding-right 10px
            white-space nowrap

    &__btn
        @extend .btn
        @extend .btn_size_middle

        &:not(&_active)
            @extend .btn_outline_primary

        &-active
            display none

        &_active
            & ^[-1]
                &-disabled
                    display none

                &-active
                    display block

    &__text-delivery
        color #909090
        font-size 12px
        margin-top 10px

    &__row-delivery-spb
        display flex
        align-items center

        & ^[-1]__input
            margin-right 10px

    &__price-info
        display none
        font-size 14px
        line-height 20px
        margin-top 15px
        text-align center

        &_active
            display block

    &__name-mob
        display none
        margin-top 5px

        +media-breakpoint-down(sm)
            display block

    &__close
        cursor pointer
        color: $colors.primary
