.top-of-page
    height 100%
    position fixed
    top 0
    left 0
    cursor pointer
    color #45688e
    width: $topOfPageWidth
    display none
    align-items flex-start
    font-weight 600
    padding 10px 0 0 12px
    font-size 14px
    overflow hidden
    transition opacity .1s linear

    &_active
        display flex
        opacity .5

        &:hover
            opacity 1

    &:before
        border 7px solid transparent
        border-bottom 7px solid #45688e
        content ''
        display block
        margin -1px 6px 0 0
        position relative
        z-index 1

    &:after
        content ''
        background #e5e5e5
        max-width: $topOfPageWidth
        height 100%
        width 100%
        position absolute
        top 0
        left 0

    > span
        position relative
        z-index 1

    +media-breakpoint-down(xs)
        display none
