&-delivery
    display none
    position relative
    padding 18px 6px 0

    &:after
        content ''
        display block
        border-top 1px solid #e7e7e7
        position absolute
        top 0
        left -5px
        width calc(100% + 10px)

    +media-breakpoint-down(sm)
        display block

    &__input
        font-size 14px
        border 1px solid #cdcdcd
        border-radius 1px
        background-color #fff
        padding 0 13px
        appearance none
        text-indent 1px
        text-overflow ''
        height 40px
        transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear
        width 100%
        font-weight 600

        &:hover
            border-color #939393

        &:focus
            background-color #f8f8f8
            box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

        &::placeholder
            opacity 1
            color #d0d0d0
            font-weight 400

    &__price
        font-weight 600

        &-wrap
            display none
            justify-content space-between
            font-size 15px
            border-top 1px solid #e7e7e7
            margin-top 17px
            padding-top 10px

            &_active
                display flex
