$pDeliveryMapColors = #8dd0b0, #ffeca2, #eac0ff, #feb7b1, #c5d2ff

&-price
    display none

    +media-breakpoint-down(sm)
        display block

    &__title
        font-weight 600
        margin-bottom 7px

    &__block
        font-size 15px
        position relative
        padding 8px 6px 10px
        line-height 20px

        &:last-child
            padding-bottom 0

        &:not(:last-child):after
            content ''
            display block
            position absolute
            left -5px
            bottom 0
            width calc(100% + 10px)
            border-bottom 1px solid #e7e7e7

    &__list
        margin-top 8px

    &__item
        &:before
            content ''
            display inline-block
            height 11px
            width 11px
            border-radius 1px
            margin-right 7px

        for $color, $i in $pDeliveryMapColors
            &:nth-child({$i + 1}):before
                background-color: $color

        &:not(:last-child)
            margin-bottom 4px
