<template>
  <div class="page">
    <div class="header">
      <h1 class="title">{{ this.$route.meta.title }}</h1>
      <router-link :to="{ name: 'content-items-create' }" class="button">Добавить</router-link>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <message color="info">
            <p slot="header"><span class="icon"><i class="fa fa-info-circle"></i></span> Подсказка</p>
            Товар можно искать как по названию категории так и по артикулу
          </message>
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="menu">
            <div v-if="foundItems && foundItems.length" class="panel panel-items">
              <router-link :to="{ name: 'content-items', params: { id: item.id }}" class="panel-block" v-for="(item, index) in foundItems" :class="item.enabled ? '' : 'panel-block_disabled'" :key="index">
                <span>
                  <span v-html="$options.filters.search(item.title, search)">
                    {{ item.title }}
                  </span>
                  <template v-if="!item.enabled">
                    <i class="fa fa-trash"></i>
                  </template>
                </span>
                <div class="field is-grouped">
                  <template v-if="!item.enabled && item.slug">
                    <div class="control">
                      <button @click.prevent="removeUrlItem(item, $event)" class="button is-danger" title="Удалить url">
                        <i class="fa fa-link"></i>
                      </button>
                    </div>
                  </template>
                  <template v-if="!item.slug">
                    <div class="control">
                      <button @click.prevent="createUrlItem(item, $event)" class="button is-success" title="Сгенерировать url">
                        <i class="fa fa-link"></i>
                      </button>
                    </div>
                  </template>
                  <div class="control">
                    <router-link :to="{ name: 'content-items', params: { id: item.id }}" class="button" title="Редактировать">
                      <i class="fa fa-pencil"></i>
                    </router-link>
                  </div>
                  <div class="control">
                    <router-link :to="{ name: 'content-items-copy', params: { id: item.id }}" class="button" title="Копировать">
                      <i class="fa fa-files-o"></i>
                    </router-link>
                  </div>
                </div>
              </router-link>
            </div>
            <template v-for="category in filteredCategories">
              <div class="panel" v-if="category.subcategories && category.subcategories.length">
                <div class="panel-heading" @click="toggleCategory(category)" :class="category.enabled ? '' : 'panel-block_disabled'">
                  {{ category.title }}
                  <span class="icon is-pulled-right" v-if="!search">
                    <i class="fa" :class="search || category.active ? 'fa-angle-up' : 'fa-angle-down'"></i>
                  </span>
                </div>
                <div v-if="search || category.active">
                  <template v-for="subcategory in category.subcategories">
                    <router-link :to="{ name: 'content-items-list', params: { id: subcategory.id }}" class="panel-block" :class="subcategory.enabled ? '' : 'panel-block_disabled'">
                      <span v-html="$options.filters.search(subcategory.title, search)"></span>
                    </router-link>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'

  import Message from '@/components/Message'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  import debounce from 'debounce'

  export default {
    components: {Message},
    name: 'content-items-categories',
    data () {
      return {
        search: store.state.route.query.search,
        categories: [],
        foundItems: []
      }
    },
    computed: {
      filteredCategories () {
        return this.categories.map(category => {
          const newCategory = {...category}

          newCategory.subcategories = category.subcategories.filter(subcategory => {
            return new RegExp(this.search, 'i').test(subcategory.title)
          })

          return newCategory
        })
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      Api.contentCategories.get().then(res => {
        this.categories = res.body.map(category => { return {...{active: false}, ...category} })

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })

      this.findItems()
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})

        this.findItems()
      }
    },
    methods: {
      findItems: debounce(function () {
        if (this.search) {
          Api.search.items.get({article: this.search}).then(res => {
            this.foundItems = res.body
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        } else {
          this.foundItems = []
        }
      }, 200),
      goIfOne () {
        if (this.foundItems.length === 1) {
          router.push({
            name: 'content-items',
            params: {
              id: this.foundItems[0].id
            }
          })
        }
      },
      toggleCategory (category) {
        this.categories.find(fCategory => fCategory.id === category.id).active = !category.active
      },
      removeUrlItem (item, event) {
        if (confirm(`Вы действительно хотите удалить url у товара "${item.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentItems.slugDelete({id: item.id}).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у товара успешно удален',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      },
      createUrlItem (item, event) {
        if (confirm(`Вы действительно хотите Сгенерировать url у товара "${item.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentItems.slugCreate({id: item.id}, null).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у товара успешно сгенерирован',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px
  }

  .panel-items .panel-block {
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }

  .panel-heading {
    cursor: pointer;
  }

  .panel > .panel-heading + div > .panel-block:first-child {
    border-top: 0;
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }
</style>