<template>
  <div class="page">
    <div class="page" v-if="Object.keys(item).length">
      <h1 class="title">Копирование товара: "{{ item.title }}"</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-item-form :item="item" :added="{colors, sizes, tags, addTags, same, complex}" method="copy"></content-item-form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'
  import ContentItemForm from '@/components/ContentItemForm'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'content-item-create',
    components: {ContentItemForm, NotFoundComponent},
    data () {
      return {
        item: {},
        colors: [],
        sizes: [],
        tags: [],
        addTags: [],
        same: [],
        complex: [],
        id: store.state.route.params.id
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentItems.get({id: this.id}).then(({body}) => {
        const colors = body.Item.item_colors.map((tag) => {
          return {
            code: tag.code,
            add_price: tag.add_price,
            color: tag.color,
            main: tag.main,
            ord: tag.ord,
            id: 0
          }
        })

        const sizes = body.Item.item_sizes.map((size) => {
          return {
            size_1: size.size_1,
            size_2: size.size_2,
            size_3: size.size_3,
            size_4: size.size_4,
            size_5: size.size_5,
            size_6: size.size_6,
            type: size.type
          }
        })

        this.item = body.Item

        this.item.item_colors = colors
        this.item.item_sizes = sizes

        this.colors = colors
        this.sizes = sizes
        this.tags = this.item.tags.map((tag) => tag.id)
        this.addTags = this.item.add_tags.map((tag) => tag.id)
        this.same = this.item.item_same
        this.complex = this.item.item_complex

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    }
  }
</script>