<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <content-item-form :item="{}" :added="{colors, sizes, tags, addTags, same, complex}" method="save"></content-item-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ContentItemForm from '@/components/ContentItemForm'

  export default {
    name: 'content-item-create',
    components: {ContentItemForm},
    data () {
      return {
        colors: [],
        sizes: [],
        tags: [],
        addTags: [],
        same: [],
        complex: []
      }
    }
  }
</script>