<template>
  <div class="page">
    <div class="page" v-if="Object.keys(item).length">
      <div class="header">
        <h1 class="title">Редактирование товара: "{{ item.title }}"</h1>
        <div>
          <router-link :to="{ name: 'admin-activity-subject', params: { subjectId: 4, objectId: id }}" class="button" v-if="$can('read activity')">
            <span class="icon">
              <i class="fa fa-rss"></i>
            </span>
            <span>Последние изменения</span>
          </router-link>
          <a :href="link" class="button is-primary" target="_blank">
            <span class="icon">
              <i class="fa fa-external-link"></i>
            </span>
            <span>Посмотреть на сайте</span>
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <content-item-form :item="item" :added="{colors, sizes, tags, addTags, same, complex}" method="update"></content-item-form>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'
  import ContentItemForm from '@/components/ContentItemForm'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'content-item-create',
    components: {ContentItemForm, NotFoundComponent},
    data () {
      return {
        item: {},
        colors: [],
        sizes: [],
        tags: [],
        addTags: [],
        same: [],
        complex: [],
        link: '',
        id: store.state.route.params.id
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      Api.contentItems.get({id: this.id}).then(({body}) => {
        this.item = body.Item
        this.link = body.link

        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    }
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }
</style>