<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <pagination ref="topPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
          <div class="menu" :class="isSending ? 'menu-disabled' : ''">
            <div class="panel">
              <p class="panel-heading">{{ category.title }}</p>
              <template v-for="item in foundItem">
                <router-link :to="{ name: 'content-items', params: { id: item.id }}" class="panel-block" v-if="!hideDisabled || item.enabled" :class="item.enabled ? '' : 'panel-block_disabled'">
                  <span>
                    <template v-if="!item.enabled">
                      <i class="fa fa-trash-o"></i>
                    </template>
                    <span v-html="$options.filters.search(item.title, search)"></span>
                  </span>
                  <div class="field is-grouped">
                    <template v-if="!item.enabled && item.slug">
                      <div class="control">
                        <button @click.prevent="removeUrlItem(item, $event)" class="button is-danger" title="Удалить url">
                          <i class="fa fa-link"></i>
                        </button>
                      </div>
                    </template>
                    <template v-if="!item.slug">
                      <div class="control">
                        <button @click.prevent="createUrlItem(item, $event)" class="button is-success" title="Сгенерировать url">
                          <i class="fa fa-link"></i>
                        </button>
                      </div>
                    </template>
                    <div class="control">
                      <router-link :to="{ name: 'content-items', params: { id: item.id }}" class="button" title="Редактировать">
                        <i class="fa fa-pencil"></i>
                      </router-link>
                    </div>
                    <div class="control">
                      <router-link :to="{ name: 'content-items-copy', params: { id: item.id }}" class="button" title="Копировать">
                        <i class="fa fa-files-o"></i>
                      </router-link>
                    </div>
                  </div>
                </router-link>
              </template>
            </div>
          </div>
          <pagination ref="bottomPagination" :initialPage="getCurrentPage" :pageCount="totalPages" @pageSelected="setPage"></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'

  import store from '@/store'
  import router from '@/router'
  import Message from '@/components/Message'
  import Api from '@/api'

  import Pagination from '@/components/Pagination'

  export default {
    components: { Message, Pagination },
    name: 'content-items-list',
    data () {
      return {
        search: store.state.route.query.search,
        id: store.state.route.params.id,
        currentPage: store.state.route.query.page || 1,
        totalPages: 1,

        hideDisabled: false,
        isSending: false,
        category: {},
        items: []
      }
    },
    computed: {
      foundItem () {
        if (this.search) {
          return this.items.filter(item => new RegExp(this.search, 'i').test(item.title))
        } else {
          return this.items
        }
      },
      getCurrentPage () {
        return +this.currentPage - 1
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      Promise.all([Api.contentCategories.get({id: this.id}).then(({body}) => {
        this.category = body
      }), this.setPage(this.currentPage)]).then(() => {
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    watch: {
      search: function (value) {
        this.changeRouteQuery('search', value)
      },
      currentPage (value) {
        this.changeRouteQuery('page', value)
      }
    },
    methods: {
      setPage (page) {
        this.isSending = true
        this.currentPage = page

        if (+page !== this.$refs.bottomPagination.selected) {
          this.$refs.bottomPagination.selected = +page - 1
        }

        if (+page !== this.$refs.topPagination.selected) {
          this.$refs.topPagination.selected = +page - 1
        }

        return Api.items.getList({subcategoryId: this.id, page}).then(({body}) => {
          this.isSending = false
          this.items = body.data
          this.totalPages = body.last_page
          this.currentPage = body.current_page
        }, res => {
          this.isSending = false
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      },
      goIfOne () {
        if (this.foundItem.length === 1) {
          router.push({
            name: 'content-hot',
            params: {
              id: this.foundItem[0].id
            }
          })
        }
      },
      changeRouteQuery (key, value) {
        const query = {...store.state.route.query}

        query[key] = value || undefined

        router.replace({query})
      },
      removeUrlItem (item, event) {
        if (confirm(`Вы действительно хотите удалить url у товара "${item.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentItems.slugDelete({id: item.id}).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у товара успешно удален',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      },
      createUrlItem (item, event) {
        if (confirm(`Вы действительно хотите Сгенерировать url у товара "${item.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentItems.slugCreate({id: item.id}, null).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у товара успешно сгенерирован',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px;
  }

  .panel-block {
    justify-content: space-between;
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }

  .is-link-visited:visited {
    color: #000;
  }

  .menu {
    margin: 15px 0;
  }

  .menu-disabled {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(230, 230, 230, 0.65);
    }
  }
</style>