<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <table class="table is-hoverable">
            <thead>
              <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Роль</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <div class="select">
                    <select @change="send(user)" v-model="user.role">
                      <option v-for="role in roles">{{ role.name }}</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import errorParser from '@/helpers/error-parser'

  import store from '@/store'

  import Api from '@/api'

  export default {
    name: 'admin-users-list',
    data () {
      return {
        users: []
      }
    },
    mounted () {
      Api.adminUsers.getList().then(({body}) => {
        this.users = body.Users.map(user => {
          const newUser = {
            id: user.id,
            name: user.name,
            email: user.email
          }

          if (user.roles && user.roles.length) {
            newUser.role = user.roles[0].name
          }

          return newUser
        })
        this.roles = body.Roles
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      send (user) {
        Api.adminUsers.update({id: user.id}, user).then(() => {
          store.commit('notification/add', {
            type: 'success',
            duration: 5000,
            text: 'Роль у <strong>' + user.name + '</strong> изменена на: "' + user.role + '"'
          })
        }, res => {
          store.commit('notification/add', {
            type: 'danger',
            text: errorParser(res)
          })
        })
      }
    }
  }
</script>

<style>
  .table td {
    vertical-align: middle;
  }
</style>