&-address
    background-color #fff
    padding 23px 24px 16px
    font-size 15px
    position relative
    filter-drop-shadow(0 1px 2px rgba(0, 0, 0, .15))

    &:not(&_in-map)
        width 100%

    +media-breakpoint-down(sm)
        padding 13px 11px 19px

    &_in-map
        +media-breakpoint-down(sm)
            display none

        &:after
            position absolute
            right -18px
            top 90px
            content ''
            display block
            width 0
            height 0
            border-top 21px solid transparent
            border-bottom 21px solid transparent
            border-left 18px solid #fff

    &__title
        font-weight 600
        margin-bottom 9px

    &__block
        &_production
            border-top 1px solid #cdcdcd
            padding-top 22px
            margin-top 24px

            +media-breakpoint-down(sm)
                margin-top 0
                padding-top 11px
                border-top 0
                position relative

                &:after
                    content ''
                    display block
                    width calc(100% + 22px)
                    border-bottom 1px solid #e7e7e7
                    position absolute
                    left -11px
                    top 0

    &__item
        line-height 20px
        position relative
        padding-left 27px

        &:not(:last-child)
            margin-bottom 11px

        > img
            position absolute
            top 2px
            left 0
            max-width 17px
            max-height 22px

        &_mail > img
            top 6px

    &__mobile-wrap
        width 100%
        margin-bottom 0

        & ^[-1]__block_production
            display none

        +media-breakpoint-up(md)
            display none
