&-map
    @require address
    @extend .col

    background-color #fff
    height 457px
    margin-bottom 20px

    +media-breakpoint-down(sm)
        max-height 80vh
        padding 0
        margin-bottom 0

    &__wrap
        @extend .row

        block-shadow()

        position absolute
        top 0
        left 15px
        height 100%
        width 100%
        z-index 2
        transition opacity .1s linear

        +media-breakpoint-down(sm)
            max-height 80vh
            padding 0
            left 0
            box-shadow none

        &_disabled
            opacity .3

        &:empty:after
            content ''
            display block
            left 0
            right 0
            top 0
            bottom 0
            position absolute
            background-color #fff

    &__touch
        @extend .page__map-touch

    // Жесткий костыль
    *[class$='-control-popup_open']
        width 360px!important
