&-banner
    border: 1px solid $colors.primary
    border-radius 1px
    font-size 15px
    display flex
    justify-content space-between
    width 100%
    height 170px
    position relative
    padding 0 20px

    &_small
        font-size 14px
        padding 0 20px 0 0
        width 405px
        flex-shrink 0

        +media-breakpoint-down(lg)
            width 325px

    &__small-wrapper
        display flex
        width 100%

    &__title
        line-height 18px
        margin-top 18px
        font-weight 600

    &__link
        color: $colors.primary
        text-decoration none
        font-size 14px
        margin auto 0 25px
        display inline-block
        align-self flex-start

        &:hover
            text-decoration underline

    &__text
        line-height 18px
        margin-top 8px

    &__block
        display flex
        flex-direction column
        flex-grow 1
        margin-right 20px
        width 100%

        ^[-1]_small &
            margin-right 0

    &__image
        flex-shrink 0
        display flex
        align-items center
        justify-content center
        margin-right 20px
        width 310px

        ^[-1]_small &
            width 130px

        img
            max-width 100%

    &__icon
        height 50px
        width 50px
        position absolute
        bottom 7px
        right 7px
        background-color: $colors.primary
        border-radius 50%
        display flex
        align-items center
        justify-content center

    &__theses
        font-size 14px
        display flex
        flex-direction column
        justify-content center

    &__thesis
        display flex
        align-items center
        width 210px

        &:not(:last-child)
            margin-bottom 21px

        &-image
            height 52px
            width 52px
            flex-shrink 0
            margin-right 20px
            background-color: $colors.primary
            border-radius 50%
            display flex
            align-items center
            justify-content center

        &-text
            font-size 14px

    &__list
        &-wrapper
            padding 0 15px
            width calc(100% + 30px)
            margin 0 -15px

            +media-breakpoint-down(lg)
                width calc(100% + 20px)
                margin 0 -10px

            +media-breakpoint-down(md)
                display none

    &__next
    &__prev
        height 40px
        width 40px
        border-radius 50%
        background-color alpha(#5f5f5f, .3)
        background-image url('/images/arrow-slider.svg')
        background-position center
        background-repeat no-repeat
        margin-top -20px
        top 50%
        position absolute
        z-index 1
        transition background-color .1s linear
        cursor pointer

        &:hover
            background-color alpha(#5f5f5f, .4)

    &__prev
        transform rotate(180deg)
        left 0

        +media-breakpoint-down(lg)
            left 2px

    &__next
        right 0

        +media-breakpoint-down(lg)
            right 2px
