&-catalog
    @require menu
    @require items
    @require banner

    width 100%
    display flex
    background-color #fff
    box-shadow 0 2px 4px 0 rgba(0, 0 ,0, .26)

    &__wrap
        padding-top 5px
        z-index 10000
        top 100%
        left 0
        position absolute
        width 100%
        display none

        &_active
            display block

            +media-breakpoint-down(sm)
                display none
