&-items
    padding 32px 25px
    width 100%
    overflow hidden

    +media-breakpoint-down(lg)
        padding-left 10px
        padding-right 10px

    &__list
        display none
        flex-wrap wrap
        height 100%
        align-items start

        &:not(&_banner)
            align-content flex-start

        +media-breakpoint-down(md)
            align-content flex-start

        &_active
            display flex

    &__item
        width 147px
        align-items center
        flex-direction column
        text-align center
        text-decoration none
        color #000
        display inline-flex
        margin 0 9px 25px

        &:hover
            color: $colors.primary

        +media-breakpoint-down(lg)
            width 133px
            margin-left 1px
            margin-right 1px

        +media-breakpoint-down(md)
            width 140px

    &__text
        color inherit
        font-size 14px
        line-height 18px
        margin-top 12px
        position relative
        width 100%

    &__image
        height 100px
        display flex
        align-items center
        justify-content center

        > img
            max-height 100px
            max-width 100%

    &__tooltip
        font-size 14px
        line-height 19px
        border 1px solid #ddd
        background-color #fff
        box-shadow 0 3px 4px 0 rgba(0, 0, 0, .2)
        color #000
        padding 7px 9px 10px
        position absolute
        z-index 2
        top calc(100% + 12px)
        display none
        text-align center

        ^[-1]__item:hover &
            display block

        &:after
        &:before
            bottom 100%
            left 50%
            border solid transparent
            content ' '
            height 0
            width 0
            position absolute
            pointer-events none

        &:after
            border-color rgba(255, 255, 255, 0)
            border-bottom-color #fff
            border-width 6px
            margin-left -6px

        &:before
            border-color rgba(221, 221, 221, 0)
            border-bottom-color #ddd
            border-width 7px
            margin-left -7px

        &-icon
            height 9px
            width 13px
            color: $colors.secondary
            margin-right 2px
