&-menu
    padding 30px 20px 30px 25px
    width 310px
    flex-shrink 0
    border-right 1px solid rgba(205, 205, 205, .5)

    +media-breakpoint-down(lg)
        padding-left 15px
        padding-right 10px

    &__item
        font-size 15px
        cursor pointer
        display flex
        justify-content space-between
        align-items center
        transition color .1s linear
        text-decoration none
        color #000

        &_active
        &:hover
            color: $colors.primary

        &:not(:last-child)
            margin-bottom 15px

    &__link
        font-size 15px
        display flex
        justify-content space-between
        align-items center
        color: $colors.primary
        text-decoration none

        &:hover span
            text-decoration underline

    &__right
        margin-left 20px
        flex-shrink 0

    &__left
        line-height 19px

    &__icon
        margin-right 12px

    &__arrow
        transition opacity .1s linear
        opacity 0

        ^[-1]__item_active &
            opacity 1
