.blocker
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    overflow auto
    z-index 10
    background-color rgba(0, 0, 0, .75)
    display flex
    align-items center
    justify-content center
    padding-top 30px

    +media-breakpoint-down(sm)
        padding-top 41px

    &.behind
        background-color transparent

.modal
    @extend .container

    z-index 2
    position relative
    margin auto 0 auto 0

    &__icon
        font-size 24px

    &__row
        @extend .row

        background-color #fff

    &_hide
        display none

    display block

.close-modal
    display flex
    align-items center
    position absolute
    right 0
    bottom: 100%
    height 34px
    line-height 29px
    padding 0 17px
    background-color #555555
    text-decoration none
    color #b1b1b1
    font-size 15px

    +media-breakpoint-down(sm)
        height 40px
        width 40px
        background-color #161616
        text-indent -9999px
        white-space nowrap
        padding 0
        right 5px
        color #fff

    &:hover
        color #fff

    &__icon
        margin-left 13px
        width: 14px
        height 14px

#orderModal
    +media-breakpoint-down(sm)
        width 100%
