&-fixed
    background-color #2f2f2f
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, .26)

    &__container
        @extend .container

    &__row
        position relative
        height 50px
        display flex
        align-items center
        margin 0 -38px 0 -40px

        +media-breakpoint-down(sm)
            flex-direction column
            flex-wrap wrap
            align-items flex-start
            height auto
            margin 0

    &__list
        padding 0
        margin 0
        list-style none

    &__link
        color #fff
        font-size 15px
        text-decoration none
        display inline-flex
        align-items center
        height 100%
        padding 0 25px
        cursor pointer

        ^[-1]__left_compressed &
            padding 0 19px

        &-arrow
            margin 5px 0 0 8px

            +media-breakpoint-down(sm)
                display none

        &-icon
            margin-right 14px

        +media-breakpoint-down(md)
            padding 4px 13px

    &__item
        height 100%

        &:hover
            background-color #636363
            transition background-color .1s linear

        +media-breakpoint-down(lg)
            ^[-1]_active ^[-1]__left &:nth-child(n+3)
                display none

        +media-breakpoint-down(md)
            ^[-1]_active ^[-1]__left &
                display none

    &__left
    &__right
        display flex
        align-items center
        height 100%

        +media-breakpoint-down(sm)
            flex-wrap wrap

    &__left
        &_compressed
            padding-left 6px

    &__right
        margin-left auto

        &_search
            flex-grow 1
            margin-left 10px
            padding-right 25px

        +media-breakpoint-down(sm)
            margin-left 0
