.nav
    @require fixed

    background-color #2f2f2f
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, .26)

    &_mob-fixed
        +media-breakpoint-down(sm)
            position fixed
            width 100%
            top 0
            left 0
            z-index 10

    &__container
        @extend .container

    &__row
        position relative
        height 44px
        display flex
        align-items center
        margin 0 -37px 0 -38px

        +media-breakpoint-down(md)
            margin 0 -28px

        +media-breakpoint-down(sm)
            height 40px
            margin 0
            justify-content space-between

    &__list
        padding 0
        margin 0
        list-style none

    &__link
        color #fff
        font-size 16px
        text-decoration none
        display inline-flex
        align-items center
        height 100%
        padding 0 22px 2px
        cursor pointer

        ^[-1]__left_compressed &
            padding-left 19px
            padding-right 19px

        &-arrow
            margin 4px 0 0 8px
            transition transform .15s linear

            ^[-2]__item_active &
                transform rotate(180deg)

        &-icon
            margin-right 14px

            +media-breakpoint-down(sm)
                margin-right 0

        &-text
            +media-breakpoint-down(sm)
                display none

        +media-breakpoint-down(md)
            padding 4px 13px

    &__item
        height 100%

        &:hover
        &_active
            background-color #636363
            transition background-color .1s linear

        +media-breakpoint-down(sm)
            &:not(:last-child)
                margin-right 20px

                ^[-2]_mob-fixed &
                    margin-right 1px

    &__left
    &__right
        display flex
        align-items center
        height 100%

        +media-breakpoint-down(sm)
            flex-wrap wrap

    &__left
        &_compressed
            padding-left 3px

        +media-breakpoint-down(sm)
            display none

    &__right
        margin-left auto

        &_search
            flex-grow 1
            margin-left 41px
            padding-right 25px

            +media-breakpoint-down(lg)
                margin-left 10px

            +media-breakpoint-down(md)
                margin-left 0

        +media-breakpoint-down(sm)
            margin-left 0

    &__tooltip
        position relative
        background-color: $colors.secondary
        font-size 16px
        color #fff
        border-radius 1px
        padding 4px 9px
        margin-left -3px

        &:after
            content ''
            width 0
            height 0
            border-top 5px solid transparent
            border-bottom 5px solid transparent
            border-right: 5px solid $colors.secondary
            display block
            position absolute
            left -5px
            top calc(50% - 5px)

            +media-breakpoint-down(sm)
                display none

        +media-breakpoint-down(sm)
            overflow hidden
            text-indent 100%
            white-space nowrap
            width 10px
            height 10px
            padding 0
            border-radius 50%
            position absolute
            top 9px
            right 8px

    &__mob
        &-menu
            display none
            margin-right 14px
            background-color: $colors.secondary
            height 100%
            align-items center
            padding 0 13px
            cursor pointer

            +media-breakpoint-down(sm)
                display flex

        &-phone
            color #fff
            text-decoration none
            font-weight 600
            display none

            +media-breakpoint-down(sm)
                ^[-2]_mob-fixed &
                    display block
