@require variables
@require mixins

@import 'vendor/normalize.css'

*
&:before
&:after
    box-sizing border-box

body
    width 1000px
    font 14px/16px 'Open Sans', Arial, Helvetica, sans-serif
    color #000

table
    width 100%
    border-collapse collapse
    border 0

img
    max-width 100%

h1
    text-align center
    margin 20px 0 10px
    font-size 18px

h2
    width 70%
    margin 15px auto
    font-size 14px
    text-align left
    font-weight 400

.info
    width 70%
    margin 0 auto

    td
        border 1px solid #000
        padding 4px
        text-align left
        width 50%

        &:first-child
            white-space nowrap

.header
    margin-bottom 30px

    &__row
        vertical-align top

    &__logo
        padding-top 20px
        width 20%

        img
            width 100%

    &__address
        width 40%
        padding-left 30px
        text-align center
        line-height 19px
        padding-top 14px

    &__contacts
        padding-left 30px

        > p
            margin 0

        table
            border 2px solid #000
            width 100%

            tr
                &:nth-child(even) td
                    border-bottom 2px solid #000

                &:nth-child(odd) td
                    border-bottom 1px solid #000

                    &:last-child
                        width 120px

.list
    td
    th
        border 1px solid #000
        padding 4px
        text-align center

    th
        background #eee

.container
    border 2px solid #000
    margin-bottom 20px

.images
    margin-bottom 20px

    &__large
        width 29%

    &__small
        width 13%
        height 145px

.compare-images
    margin-bottom 10px

    td
        width 20%
        text-align center
        padding 5px

        img
            width 150px
            height 150px
            border 1px solid

.total
    text-align right
    margin-bottom 10px
    font-weight 600

.nowrap
    white-space nowrap

.text_color_green
    color green

.text_size_smile
    font-size 12px

.price-specials
    padding-bottom calc(2em + 4px)!important

.price-discount
    color rgba(0, 0, 0, .5)

.price-discount_hot
    color red
