&-cart
    width 500px
    position absolute
    z-index 6
    top 100%
    right 0
    display none
    box-shadow 0 3px 4px 0 rgba(0, 0, 0, .19)
    overflow hidden
    height 221px

    +media-breakpoint-down(sm)
        max-width 100%
        height 128px

        &_delivery
            height 208px

    &_free
        width 230px
        height 121px

        +media-breakpoint-down(sm)
            height 142px

        +media-breakpoint-down(xs)
            width 100%

        & ^[-1]__body
            height 121px

            +media-breakpoint-down(sm)
                height 142px

            +media-breakpoint-down(xs)
                width 100%

    &_active
        display block

    &__body
        padding 0 15px
        box-shadow 0 3px 4px 0 rgba(0, 0, 0, .19)
        background-color #fff
        border: 2px solid $colors.secondary
        height 221px
        width 100%
        position absolute
        bottom 0

        +media-breakpoint-down(sm)
            border none
            height 128px

            ^[-1]_delivery &
                height 208px

    &__header
        display flex
        align-items center
        justify-content space-between
        padding 15px 0

        &-icon
            margin-right 10px
            flex-shrink 0
            background-color: $colors.secondary
            color #fff
            border-radius 50%
            height 18px
            width 18px
            display flex
            align-items center
            justify-content center

            .icon
                width 10px

        +media-breakpoint-down(sm)
            border-bottom 1px solid #e7e7e7

    &__title
        display flex
        align-items center
        color: $colors.secondary
        font-weight 600
        font-size 14px

        +media-breakpoint-down(sm)
            color #000
            font-size 15px
            font-weight 400
            line-height 18px

    &__close
        height 16px
        width 15px
        color #bebebe
        cursor pointer

        &:hover
            color #5c5c5c

    &__table
        border-spacing 0
        width 100%
        border-bottom 1px solid #cbcbcb

        +media-breakpoint-down(sm)
            display none

        th
            height 26px
            font-size 12px
            background-color #ececec
            font-weight 400
            text-align left
            padding 0 10px

        tbody
            td
            th
                padding 3px 10px
                font-size 14px

                &:first-child
                    padding-left 0

                &:last-child
                    padding-right 0

        &-img
            width 55px

        &-descr
            display inline-block
            white-space nowrap
            max-width: 100px
            overflow: hidden
            text-overflow: ellipsis

    &__footer
        display flex
        align-items center
        padding 17px 0 22px
        justify-content space-between

        +media-breakpoint-down(sm)
            flex-direction column

    &__btn
        flex-shrink 0
        font-size 15px
        font-weight 600
        padding-left 19px
        padding-right 19px

        +media-breakpoint-down(sm)
            width 100%

    &__delivery
        +media-breakpoint-down(sm)
            border-bottom 1px solid #e7e7e7
            padding-bottom 13px
            margin-bottom 19px

        &-text
            font-size 12px
            line-height 16px
            padding-right 25px
            display flex
            align-items center
            color: #666

            +media-breakpoint-down(sm)
                font-size 13px
                min-height 48px

            &-value
                white-space nowrap

            &-disabled
                display none

            &_active
                color: $colors.secondary

                & ^[-1]-active
                    display none

                & ^[-1]-disabled
                    display block

        &-icon
            flex-shrink 0
            margin-right 20px

    &__footer-free
        text-align center
        padding-bottom 20px

        +media-breakpoint-down(sm)
            border-top 1px solid #e7e7e7
            margin-top 15px

    &__nowrap
        white-space nowrap
