&-contacts
    font-size 15px
    line-height 22px
    display flex
    align-items center

    &_city
        font-size 16px
        position relative

        +media-breakpoint-down(sm)
            display none

    &__phone
        font-size 19px
        font-weight 600
        color #000
        text-decoration none

        +media-breakpoint-down(md)
            font-size 16px

        +media-breakpoint-down(sm)
            font-size 18px

    &__text
        color #6b6b6b

        +media-breakpoint-down(md)
            font-size 14px

        +media-breakpoint-down(sm)
            display none

    &__city
        cursor pointer
        display inline-flex
        align-items center
        transition color .1s linear

        &:hover
        &:focus
            color: $colors.primary

        &-icon
            margin 5px 0 0 8px

    &__body
        display flex
        flex-direction column

    &__icon
        margin-right 14px

        +media-breakpoint-down(md)
            display none
