&-flags
    display flex
    align-items center
    position relative

    &__icon
        width 30px
        vertical-align top

        &_current
            &.icon_flag
                &_ru
                    height 20px

                &_en
                    height 15px

                &_it
                    height 20px

        &:not(&_current)
            &.icon_flag
                &_ru
                    height 21px

                &_en
                    height 16px

                &_it
                    height 21px

    &__arrow
        margin-left 8px
        transition transform .15s linear, color .1s linear

        +media-breakpoint-down(md)
            display none

    &__current
        display flex
        flex-direction row
        align-items center
        cursor pointer
        border 1px solid #cdcdcd

    &__list
        display none
        background-color #fff
        list-style none
        padding 10px 0
        margin 0
        z-index 1
        position absolute
        top 37px
        right -14px
        filter-drop-shadow(0 1px 4px rgba(0, 0, 0, 0.22))

        &:after
            position absolute
            right 17px
            top -7px
            content ''
            display block
            width 0
            height 0
            border-left 10px solid transparent
            border-right 10px solid transparent
            border-bottom 7px solid #fff

    &__link
        padding 5px 15px
        color inherit
        display flex
        align-items center
        text-decoration none
        transition color .15s linear

        & > ^[-1]__icon
            border 1px solid #cdcdcd

        &:hover
            color: $colors.primary

    &__text
        margin-left 12px
        font-size 15px

    &_active &
        &__list
            display block

        &__arrow
            transform rotate(180deg)

    +media-breakpoint-down(sm)
        margin-bottom 3px
