.header
    @require contacts
    @require price
    @require flags
    @require popup-your-city
    @require cart
    @require catalog

    background-color #fff

    &__container
        @extend .container

        position relative

    &__logo
        display flex
        height 79px
        align-items center
        padding-bottom 1px

        > img
            height 42px
            width auto

            +media-breakpoint-down(md)
                width 200px

        +media-breakpoint-down(md)
            height 60px

        +media-breakpoint-down(sm)
            height 50px
            width 40px
            overflow hidden

        &-hat
            position absolute;
            width 47px!important
            left -11px
            top 6px
            height auto!important

            +media-breakpoint-down(md)
                width 37px !important
                left -8px
                top 3px

            +media-breakpoint-down(sm)
                left 6px
                top -2px

    &__row
        @extend .row

        justify-content space-between
        align-items center

        +media-breakpoint-down(sm)
            padding 0 10px

    &__top
        &_mob-fixed
            +media-breakpoint-down(sm)
                padding-bottom 40px
