&-popup-your-city
    display none
    position absolute
    z-index 6
    background-color #fff
    min-width 262px
    padding 20px
    top calc(100% + 12px)
    left calc(50% - 131px)
    filter-drop-shadow(0 1px 4px rgba(0, 0, 0, .22))

    &_active
        display block

    &:after
        position absolute
        top -20px
        right calc(50% - 10px)
        content ''
        border 10px solid transparent
        border-bottom: 10px solid #fff

    &__title
        font-size 15px
        margin-bottom 15px
        white-space nowrap

    &__btn-yes
        padding 0
        height 30px
        width 70px
        border-radius 1px
        background-color: $colors.secondary
        border none
        color #fff
        font-size 15px
        cursor pointer
        transition background-color .1s linear

        &:hover
            background-color: #098068

    &__btn-no
        padding 0
        border none
        background-color transparent
        font-size 12px
        text-decoration underline
        cursor pointer
        transition color .1s linear

        &:hover
            color: $colors.primary

    &__buttons
        display flex
        justify-content space-between
