&-price
    font-size 16px
    color #000
    text-decoration none
    display inline-flex
    align-items center
    transition color .1s linear

    +media-breakpoint-down(sm)
        display none

    &:hover
        color: $colors.primary

    &__icon
        color: $colors.primary
        margin-right 11px

    +media-breakpoint-down(sm)
        margin-bottom 3px
