&-header
    display flex
    margin-bottom 40px

    +media-breakpoint-down(sm)
        margin-left -11px
        margin-right -11px
        margin 0 -11px 19px

    &__item
        padding 15px 40px
        cursor pointer
        background-color #f9f9f9
        border 1px solid #cdcdcd
        transition background-color .1s linear

        +media-breakpoint-down(sm)
            font-size 15px
            line-height 18px
            padding 7px 10px

        &:not(&_active)
            border-top-color transparent

            &:first-child
                border-left-color transparent

            &:last-child
                border-right-color transparent

            &:hover
                background-color #f2f1f1

        &:first-child
            flex-grow 1

            +media-breakpoint-down(sm)
                border-left-color transparent

        &:not(:first-child)
            flex-grow 100

            +media-breakpoint-down(sm)
                flex-grow 1

        &:not(:last-child)
            border-right-color transparent

        &_active
            background-color #fff
            border-bottom-color transparent

            &:last-child
                border-right-color transparent
