&-delivery
    margin-bottom 35px
    position relative
    margin-top 23px

    &:before
        content ''
        display block
        width calc(100% + 22px)
        border-top 1px solid #e7e7e7
        position absolute
        top -23px
        left -11px

    &:nth-child(3)
        margin-bottom 26px

        &:after
            content ''
            display block
            width calc(100% + 22px)
            border-top 1px solid #e7e7e7
            position absolute
            bottom -11px
            left -11px

    &__header
        display flex
        justify-content space-between
        margin-bottom -13px
        font-weight 600
        padding-left 32px
        width 447px

        +media-breakpoint-down(sm)
            width 100%

    &__text
        font-size 14px
        line-height 21px

        &-list
            &-link
                @extend .link

                text-decoration underline

                &:hover + ^[-1]-icon
                    color: $colors.primary

            &-icon
                transition transform .15s linear
                cursor pointer
                transform rotate(180deg)

                ^[-1]_active &
                    transform rotate(0deg)

    &__body
        padding-left 32px

        +media-breakpoint-down(sm)
            padding-left 0

        &-payment
            padding-left 32px

            +media-breakpoint-down(sm)
                margin-top 23px

    &__list
        border 1px solid #cdcdcd
        box-shadow 0 2px 4px 0 rgba(0, 0, 0, .26)
        padding 12px
        font-size 12px
        line-height 18px
        color #808080
        position relative
        background #fff
        margin-top 18px

        &:after
        &:before
            bottom 100%
            left 417px
            border solid transparent
            content ''
            height 0
            width 0
            position absolute
            pointer-events none

            +media-breakpoint-down(sm)
                left 210px

        &:after
            border-color rgba(255, 255, 255, 0)
            border-bottom-color: #fff
            border-width 7px
            margin-left -7px

        &:before
            border-color rgba(205, 205, 205, 0)
            border-bottom-color #cdcdcd
            border-width 8px
            margin-left -8px

        label
            @extend .link

            text-decoration underline

        img
            width 100%

    &__comment
        display none
        width 415px
        margin-top 17px

        +media-breakpoint-down(sm)
            width 100%

        ^[-1]_active &
            display block

        &-field
            width 100%

            .ordering-form
                &__label
                    text-align left
                    justify-content flex-start
                    width 50px
                    margin-right 25px

                &__col
                    flex-grow 1

                &__input
                    width 100%

    &__popover
        @extend .popover

        margin-left 75px
        font-weight 400
        line-height 16px

        +media-breakpoint-down(sm)
            margin-left -32px

        &:before
        &:after
            left 38px

            +media-breakpoint-down(sm)
                left 146px

    &__loader
        margin-left 12px
        margin-bottom -16px
        margin-right 4px
        position relative
        width 30px
        display inline-block
        top -8px

        &:before
            content ''
            display block
            padding-top 100%

        &-circular
            animation rotate 2s linear infinite
            height 100%
            transform-origin center center
            width 100%
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            margin auto

        &-path
            stroke-dasharray 1, 200
            stroke-dashoffset 0
            animation dash 1.5s ease-in-out infinite
            stroke-linecap round
            stroke #cdcdcd

        &-text
            font-size 13px
            color #939393
            font-weight 400


@keyframes rotate
    100%
        transform rotate(360deg)

@keyframes dash
    0%
        stroke-dasharray 1, 200
        stroke-dashoffset 0;
    50%
        stroke-dasharray 89, 200
        stroke-dashoffset -35px
    100%
        stroke-dasharray 89, 200
        stroke-dashoffset -124px
