$pDeliveryMapColors = #40b27c, #ffdb4d, #db98ff, #fb867e, #8da7ff

&-map
    @require tc

    width 266px
    border-radius 1px
    background-color #fff
    box-shadow 0 1px 2px 1px rgba(0, 0, 0, .15), 0 2px 5px -3px rgba(0, 0, 0, .15);
    padding 24px 15px 30px 25px

    +media-breakpoint-down(sm)
        display none

    &__title
        font-size 20px
        margin-bottom 20px

    &__subtitle
        font-size 15px
        font-weight 600
        margin-bottom 23px

    &__list
        border-bottom 1px solid #cdcdcd
        padding-right 24px
        padding-bottom 8px
        margin-bottom 20px

    &__item
        margin-bottom 19px
        cursor pointer
        position relative

        &-text
            font-size 15px
            position absolute
            top 5px
            left 22px

        for $color, $i in $pDeliveryMapColors
            &:nth-child({$i + 1})
                .arrow-contacts-border
                    transition stroke .15s linear
                    stroke alpha($color, .6)

                .arrow-contacts-background
                    fill #fff
                    transition fill .15s linear

            &_active:nth-child({$i + 1})
                .arrow-contacts-border
                    stroke: $color

                .arrow-contacts-background
                    fill alpha($color, .5)

    &__text
        font-size 15px
        line-height 20px
        margin-top -9px
