&-tc
    border-radius 1px
    background-color #fff
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .26)
    padding 25px 20px

    +media-breakpoint-down(sm)
        display none

    &__checkbox
        @extend .ordering-form__checkbox

        input
            + span
                font-size 15px
                padding-left 25px

                > .icon
                    top 7px

                &:before
                    top 3px

    &__title
        font-size 15px
        font-weight 600
        border-bottom 1px solid #ccc
        padding-bottom 12px
        margin-bottom 17px

    &__item
        &:not(:last-child)
            margin-bottom 4px

    &__list
        border-bottom 1px solid #ccc
        padding-bottom 20px
        margin-bottom 13px

    &__text
        color #939393
        font-size 13px
        line-height 19px
        max-width 235px

    &__link
        text-decoration underline
        position relative
        transition color .15s linear

        &:hover
            color: $colors.primary
            cursor pointer

        &-close
            cursor pointer
            height 13px
            width 13px
            color #969696
            transition color .15s linear
            position absolute
            top 8px
            right 8px

            &:hover
                color: $colors.primary

        &-image
            padding 25px 22px 22px
            border 1px solid #cacaca
            display none
            background-color #fff
            position absolute
            left 0
            top 29px
            cursor default

            &_active
                display inline-block

            &:after
            &:before
                bottom 100%
                left 45px
                border: solid transparent
                content ''
                height 0
                width 0
                position absolute
                pointer-events none

            &:after
                border-color rgba(255, 255, 255, 0)
                border-bottom-color #fff
                border-width 7px
                margin-left -7px

            &:before
                border-color rgba(202, 202, 202, 0)
                border-bottom-color #cacaca
                border-width 8px
                margin-left -8px

            img
                width 396px
