&-header
    display flex
    justify-content space-between
    align-items center
    padding 22px 20px
    position relative

    +media-breakpoint-down(sm)
        padding 17px 11px

    &__link
        @extend .link

        font-size 14px
        margin-right 12px

    &__slide
        color #cdcdcd
        font-size 12px
        cursor pointer
        transition color .15s linear

        &:hover
            color #939393

        &-icon
            margin-left 4px
            transition transform .15s linear

            ^[-1]_active &
                transform rotate(180deg)

        &-active
            display none

            ^[-1]_active &
                display inline

        &-disabled
            ^[-1]_active &
                display none

    &__left
        display flex
        align-items center
