&-list
    @require header
    @require not-available

    font-size 13px

    table
        border-spacing 0
        width 100%

    &__item
        td
            width 33.3%
            border-top 1px solid #eaeaea
            padding-top 12px
            padding-bottom 12px

            &:first-child
                padding-left 20px

                +media-breakpoint-down(sm)
                    padding-left 11px

            &:last-child
                padding-right 20px

                +media-breakpoint-down(sm)
                    padding-right 11px

        &-right
            text-align right

    &__footer
        text-align right
        padding 18px 20px
        border-top 1px solid #eaeaea

        +media-breakpoint-down(sm)
            padding-left 11px
            padding-right 11px

    &__amount
        font-size 20px
        font-weight 600
