&-not-available
    position absolute
    top 50px
    left 0
    border: 1px solid $colors.primary
    background-color #fff
    color: $colors.primary
    font-size 14px
    line-height 19px
    padding 15px 16px 19px
    box-shadow 0 3px 3px 0 rgba(0, 0, 0, .26);
    display none

    &_active
        display block

    &:after
    &:before
        bottom 100%
        left 98px
        border solid transparent
        content ' '
        height 0
        width 0
        position absolute
        pointer-events none

    &:after
        border-color rgba(255, 255, 255, 0)
        border-bottom-color #fff
        border-width 7px
        margin-left -7px

    &:before
        border-color rgba(197, 64, 4, 0)
        border-bottom-color #c54004
        border-width 8px
        margin-left -8px

    &__btn
        cursor pointer

    &__link
        display inline-block
        color #000
        text-decoration underline
        cursor pointer
        margin-top 11px

        &:hover
            transition color .1s linear
            color: $colors.primary
