<template>
  <div class="page">
    <div class="header">
      <h1 class="title">{{ this.$route.meta.title }}</h1>
      <router-link :to="{ name: 'content-categories-create' }" class="button">Добавить</router-link>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <div class="menu">
            <template v-for="category in filteredCategories">
              <div class="panel">
                <router-link :to="{ name: 'content-categories', params: {id: category.id}}">
                  <p class="panel-heading">{{ category.title }}</p>
                </router-link>
                <template v-if="category.subcategories && category.subcategories.length">
                  <template v-for="subcategory in category.subcategories" v-if="!hideDisabled || subcategory.enabled">
                    <router-link :to="{ name: 'content-categories', params: {id: subcategory.id}}" class="panel-block" :class="subcategory.enabled ? '' : 'panel-block_disabled'">
                      <span>
                        <template v-if="!subcategory.enabled">
                          <i class="fa fa-trash-o"></i>
                        </template>
                        <span v-html="$options.filters.search(subcategory.title, search)"></span>
                      </span>
                      <template v-if="!subcategory.enabled && subcategory.slug">
                        <div class="field">
                          <div class="control">
                            <button @click.prevent="removeUrlCategory(subcategory, $event)" class="button is-danger" title="Удалить url">
                              <i class="fa fa-link"></i>
                            </button>
                          </div>
                        </div>
                      </template>
                      <template v-if="!subcategory.slug">
                        <div class="field">
                          <div class="control">
                            <button @click.prevent="createUrlCategory(subcategory, $event)" class="button is-success" title="Сгенерировать url">
                              <i class="fa fa-link"></i>
                            </button>
                          </div>
                        </div>
                      </template>
                    </router-link>
                  </template>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'
  import Message from '@/components/Message'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    components: {Message},
    name: 'content-categories-list',
    data () {
      return {
        search: store.state.route.query.search,
        hideDisabled: false,
        categories: []
      }
    },
    computed: {
      filteredCategories () {
        const newCategories = []

        if (this.categories.length) {
          this.categories.forEach((category) => {
            newCategories.push({title: category.title, id: category.id, subcategories: []})

            const newCategory = newCategories[newCategories.length - 1]

            category.subcategories.forEach((subcategory) => {
              if (new RegExp(this.search, 'i').test(subcategory.title)) {
                newCategory.subcategories.push(subcategory)
              }
            })
          })
        }

        return newCategories
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      Api.contentCategories.get().then(res => {
        this.categories = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      removeUrlCategory (category, event) {
        if (confirm(`Вы действительно хотите удалить url у категории "${category.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentCategories.slugDelete({id: category.id}).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у категории успешно удален',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      },
      createUrlCategory (category, event) {
        if (confirm(`Вы действительно хотите Сгенерировать url у категории "${category.title}"?`)) {
          event.target.classList.add('is-loading')

          Api.contentCategories.slugCreate({id: category.id}).then(() => {
            store.commit('notification/add', {
              type: 'success',
              text: 'Url у категории успешно сгенерирован',
              duration: 2000
            })

            event.target.classList.remove('is-loading')
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })

            event.target.classList.remove('is-loading')
          })
        }
      }
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/initial-variables";

  .input-head {
    margin-bottom: 15px;
  }

  .panel-block {
    justify-content: space-between;
  }

  .panel-block_disabled {
    background-color: $white-bis;
  }

  .panel-block_disabled .fa-trash-o {
    margin-right: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 0;
  }
</style>