.mob-p-delivery-tc
    display none
    margin-bottom -15px
    padding 0 6px

    +media-breakpoint-down(sm)
        display block

    &__body
        display none

    .p-delivery-map-tc
        &__checkbox input + span
            &:before
                top 6px

            > .icon
                top 10px

        &__item
            display flex
            align-items center
            justify-content space-between

    &__header
        display flex
        align-items center
        justify-content space-between
        position relative
        height 51px

        &:after
            content ''
            display inline-block
            width calc(100% + 22px)
            position absolute
            top 0
            left -11px
            border-top 1px solid #e7e7e7

    &__arrow
        height 7px
        width 13px

    &__title
        font-size 15px
        font-weight 600

    &__list
        position relative
        padding 9px 0

        &:after
            content ''
            display inline-block
            width calc(100% + 22px)
            position absolute
            top 0
            left -11px
            border-top 1px solid #e7e7e7

    &__question
        color #939393
        position relative
        display flex
        align-items center
        justify-content center
        font-size 14px
        border-radius 50%
        border 1px solid #939393
        width 21px
        height 21px

        &:hover
            & ^[-2]__popover
                display block

    &__popover
        @extend .popover

        display none
        position absolute
        right -13px
        top 18px
        z-index 3
        width 250px
        color #000
        font-size 13px
        line-height 17px
        padding 14px 17px

        &:after
        &:before
            left calc(100% - 22px)
