.page-loader
    display none
    font-size 22px
    font-weight 600
    position fixed
    top 0
    left 0
    height 100vh
    width 100vw
    align-items center
    justify-content center
    background-color alpha(#c4c4c4, .5)
    background-image url('/images/progress.gif')
    z-index 100
    padding-top 60px
    background-repeat no-repeat
    background-position top calc(50% - 25px) right 50%

    &_active
        display flex
