.mob-cart
    display none

    +media-breakpoint-down(sm)
        display block

    &__item
        border-radius 1px
        background-color #fff
        margin-bottom 6px
        padding 0 10px

        block-shadow()

    &__header
        display flex
        justify-content space-between
        align-items center
        padding 9px 0 8px
        border-bottom 1px solid #e7e7e7

    &__close
        height 13px
        width 13px
        color: $colors.primary
        cursor pointer

    &__article
        font-size 15px

        &-title
            font-size 13px
            margin-right 6px

    &__body
        display flex
        align-items center
        min-height 114px
        border-bottom 1px solid #e7e7e7

    &__left
        width 135px

    &__right
        flex-grow 1

    &__image
        &-wrap
            display flex
            align-items center
            justify-content center

    &__r-props
        display flex
        align-items center

        &:not(:last-child)
            margin-bottom 12px

        &-wrap
            padding 26px 0 24px
            font-size 15px

        &-title
            width 67px

    &__props
        display flex
        flex-wrap wrap
        font-size 15px
        padding 11px 0

        &:not(:last-child)
            border-bottom 1px solid #e7e7e7

    &__free-text
        padding 10px 0 12px
        font-size 13px
        line-height 17px
        color #939393

    &__not-available
        display flex
        color: $colors.primary
        font-size 13px
        line-height 17px
        padding 15px 0 13px

        &-icon
            margin-right 10px

    &__middle-price
        color #939393
        font-size 12px
        margin-top 6px

    &__popover
        @extend .popover

    &__footer
        +media-breakpoint-down(sm)
            block-shadow()
