<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <p class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
          <div class="menu">
            <template v-for="category in filteredCategories">
              <div class="panel" v-if="category.subcategories && category.subcategories.length">
                <router-link :to="{ name: 'content-breadcrumbs', params: {id: category.id}}">
                  <p class="panel-heading">{{ category.title }}</p>
                </router-link>
                <template v-for="subcategory in category.subcategories">
                  <router-link :to="{ name: 'content-breadcrumbs', params: {id: subcategory.id}}" class="panel-block">
                    <span v-html="$options.filters.search(subcategory.title, search)"></span>
                  </router-link>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'
  import Message from '@/components/Message'
  import Api from '@/api'

  import errorParser from '@/helpers/error-parser'

  export default {
    components: {Message},
    name: 'breadcrumbs-categories',
    data () {
      return {
        search: store.state.route.query.search,
        categories: [],
        items: []
      }
    },
    computed: {
      filteredCategories () {
        const newCategories = []

        if (this.categories.length) {
          this.categories.forEach((category) => {
            newCategories.push({title: category.title, id: category.id, subcategories: []})

            const newCategory = newCategories[newCategories.length - 1]

            category.subcategories.forEach((subcategory) => {
              if (new RegExp(this.search, 'i').test(subcategory.title)) {
                newCategory.subcategories.push(subcategory)
              }
            })
          })
        }

        return newCategories
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      Api.contentBreadcrumbs.getList().then(res => {
        this.categories = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  .input-head {
    margin-bottom: 15px;
  }
</style>