<template>
  <div class="page">
    <div class="page" v-if="Object.keys(category) && category.Category">
      <h1 class="title">{{ category.Category.title }}</h1>
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="row">
              <div class="field has-addons">
                <div class="control">
                  <file label="95x95" accept="image/*" @change="changePhoto"></file>
                </div>
              </div>
              <img v-if="category.Category && category.Category.breadcrumbs_image" :src="category.Category.breadcrumbs_image + '?' + Date.now()" />
            </div>
            <div class="tag-list" v-if="category.Tags && category.Tags.length">
              <h2 class="title tag-title">Теги</h2>
              <div class="card" v-for="tag in category.Tags">
                <div class="card-content">
                  <strong>{{ tag.title }}</strong>
                  <div class="row">
                    <div class="field has-addons">
                      <div class="control">
                        <file label="95x95" accept="image/*" @change="changePhoto($event, tag)"></file>
                      </div>
                    </div>
                    <img v-if="tag.breadcrumbs_image" :src="tag.breadcrumbs_image + '?' + Date.now()" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <not-found-component v-else></not-found-component>
  </div>
</template>

<script>
  import store from '@/store'
  import Api from '@/api'

  import NotFoundComponent from '@/views/NotFoundComponent'

  import File from '@/components/File'

  import errorParser from '@/helpers/error-parser'
  import objectToFormData from '@/helpers/object-to-formdata'

  export default {
    components: {NotFoundComponent, File},
    name: 'seo-categories',
    data () {
      return {
        state: undefined,
        category: {
          Category: {
            breadcrumbs_image: ''
          },
          Tags: []
        }
      }
    },
    mounted () {
      store.commit('pageload/incomplete')
      const categoryId = store.state.route.params.id

      Api.contentBreadcrumbs.get({categoryId: categoryId}).then(res => {
        this.category = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    methods: {
      changePhoto (event, tag) {
        const input = event.target

        if (input.files && input.files[0]) {
          const data = objectToFormData({
            _method: 'PUT'
          })

          data.append('image', input.files[0])

          Api.contentBreadcrumbs.save({categoryId: this.category.Category.id, tagId: tag ? tag.id : undefined}, data).then(({body}) => {
            const imageLink = body + '?' + Date.now()
            tag ? tag.breadcrumbs_image = imageLink : this.category.Category.breadcrumbs_image = imageLink
          }, res => {
            store.commit('notification/add', {
              type: 'danger',
              text: errorParser(res)
            })
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .row {
    display: flex;
  }

  .tag-title {
    margin-bottom: .7rem;
  }

  .file {
    margin-right: .5rem;
  }

  .card:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .card-content {
    padding: 10px 15px;
  }
</style>