<template>
  <div class="page">
    <h1 class="title">{{ this.$route.meta.title }}</h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <p class="control has-icons-left">
            <input class="input input-head" placeholder="Поиск" v-model="search" ref="input" @keyup.enter="goIfOne">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
          <div class="link-default">
            <router-link :to="{ name: 'seo-tags-default' }" class="panel-block">По умолчанию</router-link>
          </div>
          <div class="menu">
            <template v-for="tag in filteredTags">
              <router-link :to="{ name: routerNameItem, params: {id: tag.id}}" class="panel-block">
                <span v-html="$options.filters.search(tag.title, search)"></span>
              </router-link>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import router from '@/router'

  import errorParser from '@/helpers/error-parser'

  export default {
    name: 'seo-tags-list',
    props: {
      method: Function,
      routerNameItem: String
    },
    data () {
      return {
        search: store.state.route.query.search,
        tags: []
      }
    },
    computed: {
      filteredTags () {
        return this.tags.filter(tag => new RegExp(this.search, 'i').test(tag.title))
      }
    },
    mounted () {
      store.commit('pageload/incomplete')

      this.$refs.input.focus()

      this.method().then(res => {
        this.tags = res.body
        store.dispatch('pageload/complete')
      }, res => {
        store.commit('notification/add', {
          type: 'danger',
          text: errorParser(res)
        })

        store.commit('pageload/error')
      })
    },
    watch: {
      search: function (val) {
        const query = {...store.state.route.query}

        query.search = val || undefined

        router.replace({query})
      }
    },
    methods: {
      goIfOne () {
        if (this.filteredTags.length === 1) {
          router.push({
            name: 'content-hot',
            params: {
              id: this.filteredTags[0].id
            }
          })
        }
      }
    },
    filters: {
      search (value, search) {
        return search ? value.replace(new RegExp(search, 'ig'), '<mark>$&</mark>') : value
      }
    }
  }
</script>

<style lang="scss" scoped>
  .input-head {
    margin-bottom: 15px;
  }

  .link-default {
    margin-bottom: 1.5rem;
  }
</style>