$breakpoint-names = keys($grid-breakpoints);

breakpoint-next($name)
    $index = index($breakpoint-names, $name);

    return $index < length($grid-breakpoints) ? $breakpoint-names[$index + 1] : null

breakpoint-min($name)
    $min = $grid-breakpoints[$name];

    return $min != 0 ? $min : null

breakpoint-max($name)
    $next = breakpoint-next($name)

    return $next ? breakpoint-min($next) : null

breakpoint-infix($name)
    breakpoint-min($name) == null ? '' : '_' + $name

media-breakpoint-up($name)
    $min = breakpoint-min($name);

    if $min
        @media (min-width: $min)
            {block}
    else
        {block}

media-breakpoint-down($name)
    $max = breakpoint-max($name);

    if $max
        @media (max-width: $max)
            {block}
    else
        {block}

media-breakpoint-between($lower, $uppers)
    $min = breakpoint-min($lower);
    $max = breakpoint-max($upper);

    @media (min-width: $min) and (max-width: $max)
        {block}

media-breakpoint-only($name)
    $min = breakpoint-min($name);
    $max = breakpoint-max($name);

    @media (min-width: $min) and (max-width: $max)
        {block}
