filter-drop-shadow(shadow)
    filter drop-shadow(shadow)

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
        filter none
        box-shadow: shadow

        &:after
            display none

        @supports (-ms-ime-align:auto)
            filter none
            box-shadow: shadow

            &:after
                display none
