&-header
    display flex
    margin: (-($grid-gutter / 2)) (-($grid-gutter / 2)) 29px (-($grid-gutter / 2))

    +media-breakpoint-down(sm)
        margin 0
        padding 0 6px

    &__item
        font-size 15px
        padding 13px 35px
        cursor pointer
        background-color #f9f9f9
        border 1px solid #cdcdcd
        transition background-color .1s linear
        border-top none

        +media-breakpoint-down(sm)
            border-color: $colors.secondary
            border-top: 1px solid $colors.secondary
            text-align center
            padding 7px

        &:not(&_active)
            border-top-color transparent

            +media-breakpoint-down(sm)
                border-top-color: $colors.secondary

            &:first-child
                border-left-color transparent

                +media-breakpoint-down(sm)
                    border-left-color: $colors.secondary

            &:last-child
                border-right-color transparent

                +media-breakpoint-down(sm)
                    border-right-color: $colors.secondary

            &:hover
                background-color #f2f1f1

        &:first-child
            flex-grow 1
            border-left-color transparent

            +media-breakpoint-down(sm)
                border-left-color: $colors.secondary

        &:not(:first-child)
            flex-grow 1000

            +media-breakpoint-down(sm)
                flex-grow 1

        &:not(:last-child)
            border-right-color transparent

            +media-breakpoint-down(sm)
                border-right-color: $colors.secondary

        &_active
            background-color #fff
            border-bottom-color transparent

            +media-breakpoint-down(sm)
                border-bottom-color: $colors.secondary
                background-color: $colors.secondary
                color #fff

            &:last-child
                border-right-color transparent

                +media-breakpoint-down(sm)
                    border-right-color: $colors.secondary
