.checkbox
    position relative
    cursor pointer
    display inline-block

    &__title
        &:before
            display inline-block
            content ''
            width 18px
            height 18px
            border 1px solid #c1c1c1
            border-radius 2px
            margin 0 9px -2px 0

    &__input
        display none

        &:checked + ^[-1]__title:after
            display inline-block
            content ''
            width 18px
            height 13px
            border-radius 50%
            background-image url('/images/checkbox-arrow.svg')
            background-size cover
            background-position center
            background-repeat no-repeat
            position absolute
            left 4px
            top 2px
