.cat
    @require menu
    @require item

    display flex
    align-items flex-start

    +media-breakpoint-down(sm)
        display none

    &__body
        margin-left 22px

        +media-breakpoint-down(sm)
            margin-left 0
