&-item
    &__list
        display flex
        flex-wrap wrap
        margin 0 -12px
        padding-top 23px
        padding-bottom 28px

        +media-breakpoint-down(sm)
            justify-content center

    &__header
        font-size 20px
        font-weight 600
        padding 11px 0 14px
        border-bottom: 1px $colors.secondary solid

    &__item
        display flex
        flex-direction column
        align-items center
        text-align center
        text-decoration none
        color #000
        margin 0 12px
        margin-bottom 24px
        width "calc(%s% - 24px)" % (100 / 5)
        position relative

        +media-breakpoint-down(md)
            width "calc(%s% - 24px)" % (100 / 3)

        +media-breakpoint-down(sm)
            width 118px

        &-name
            font-size 15px
            line-height 18px
            margin-top 9px
            width 100%
            position relative

        &:hover
            color: $colors.primary

    &__tooltip
        font-size 14px
        line-height 19px
        border 1px solid #ddd
        background-color #fff
        box-shadow 0 3px 4px 0 rgba(0, 0, 0, .2)
        color #000
        padding 7px 9px 10px
        position absolute
        z-index 1
        top calc(100% + 12px)
        display none
        text-align center

        ^[-1]__item:hover &
            display block

        &:after
        &:before
            bottom 100%
            left 50%
            border solid transparent
            content ' '
            height 0
            width 0
            position absolute
            pointer-events none

        &:after
            border-color rgba(255, 255, 255, 0)
            border-bottom-color #fff
            border-width 6px
            margin-left -6px

        &:before
            border-color rgba(221, 221, 221, 0)
            border-bottom-color #ddd
            border-width 7px
            margin-left -7px

        &-icon
            height 9px
            width 13px
            color: $colors.secondary
            margin-right 2px
