&-menu
    border-radius 1px
    flex-shrink 0
    background-color #f6f6f6
    padding 8px 0
    width 270px

    &__wrap
        width 270px
        flex-shrink 0

        +media-breakpoint-down(sm)
            display none

    &_fixed
        position fixed

    &__item
        cursor pointer
        font-size 15px
        line-height 18px
        background-color #f6f6f6
        padding 11px 20px
        transition color .1s linear

        &:hover
            color: $colors.primary

        &_active
            background-color #ddd

            &:hover
                color: $colors.primary
