&-city
    display flex
    padding-left 19px
    padding-top 18px
    padding-bottom 16px

    &__right
        font-size 15px
        margin-left 12px

    &__left
        display flex
        align-items center

    &__icon
        color: $colors.secondary

    &__phone
        font-weight 600
        margin-top 7px
        color #000
        text-decoration none
        display inline-block

    &__name-icon
        height 7px
        width 13px
        transform rotate(180deg)
