&-html
    +media-breakpoint-down(sm)
        overflow hidden
        width 100vw

        body
            overflow hidden
            width 100vw

        .site-wrapper
            transform translateX(238px)

            &:after
                content ''
                display block
                position absolute
                top 0
                left 0
                right 0
                bottom 0
                background-color rgba(0, 0, 0, .6)
                z-index 10000
