.mob-menu
    @require html
    @require city
    @require list

    display none
    background-color #fff
    width 238px
    z-index 10000
    position fixed
    top 0
    left -238px
    min-height 100%
    max-height 100%
    overflow auto
    transition left .15s linear

    &-html &
        left 0

    +media-breakpoint-down(sm)
        display block
