&-list
    &__title
        background-color: $colors.secondary
        color #fff
        font-size 14px
        line-height 13px
        padding 8px 16px

    &__item
        display block
        text-decoration none
        color #000
        font-size 15px
        padding 15px 24px 15px 16px
        position relative

        &:not(:last-child):after
            content ''
            display block
            border-bottom 1px solid #e7e7e7
            position absolute
            left 16px
            bottom 0
            width calc(100% - 40px)

        &-icon
            color: $colors.secondary
            margin 0 9px -3px 0
