.p-contacts
    @require map
    @require phone

    background-color #fff
    padding 12px 35px 0 35px
    margin-bottom 20px
    block-shadow()

    +media-breakpoint-down(sm)
        margin-top 6px
        padding-top 6px
        margin-bottom 6px

    &_block
        @extend .col_xl_8
        @extend .col_md_12

        +media-breakpoint-down(sm)
            padding-left 5px
            padding-right 5px
            margin-top 0
            margin-bottom 0

    &:not(&_block)
        @extend .col

        +media-breakpoint-up(sm)
            padding 26px 35px 0 35px

    &__title
        font-size 20px
        line-height 24px
        font-weight 400
        margin 0 0 14px 0

        +media-breakpoint-down(sm)
            font-size 15px
            font-weight 600
            padding 0 6px 13px
            position relative
            margin-bottom 13px

            &:after
                content ''
                display block
                width calc(100% + 10px)
                border-bottom 1px solid #e7e7e7
                position absolute
                left -5px
                bottom 0
