&-phone
    @extend .col

    block-shadow()

    background-color #fff
    padding-top 38px
    padding-bottom 35px
    margin-bottom 23px

    +media-breakpoint-down(sm)
        padding-top 10px
        padding-bottom 10px
        margin-bottom 0

    &__row
        @extend .row

    &__col
        @extend .col_lg_12

        +media-breakpoint-down(lg)
            &:not(:last-child)
                margin-bottom 11px

    &__tel
        display flex
        align-items center
        font-size 15px
        padding-left 19px
        min-height 23px

        &:not(:last-child)
            margin-bottom 20px

            +media-breakpoint-down(sm)
                margin-bottom 11px

        a
            color inherit
            text-decoration none

        +media-breakpoint-down(sm)
            padding-left 0
            font-size 15px

    &__icon
        width 23px
        margin-right 23px
        flex-shrink 0

        +media-breakpoint-down(sm)
            width 17px
            margin-right 10px

    &__text-large
        font-size 20px

        +media-breakpoint-down(sm)
            font-size 15px
