&-article
    @extend .row

    justify-content space-between
    align-items flex-start

    &_no-title
        margin-top 30px

        +media-breakpoint-down(sm)
            margin-top 6px

    &__wrap
        @extend .col_xl_16
        @extend .col_lg_18

        padding 19px 19px 25px
        background-color #fff
        block-shadow()

        +media-breakpoint-down(sm)
            padding 13px 10px 10px

    &__title
        margin-bottom 19px
        padding 0 1px

        +media-breakpoint-down(sm)
            margin-bottom 14px
            font-size 15px

    &__text
        font-size 14px
        color: $colors.primary
        margin-top 18px

    &__form
        display flex
        align-items center
        justify-content space-between
        padding 0 1px

        +media-breakpoint-down(sm)
            flex-direction column
            align-items flex-end

    &__btn
        @extend .btn
        @extend .btn_primary
        @extend .btn_outline_primary

        padding-left 20px
        padding-right 20px

        +media-breakpoint-down(sm)
            display none

    &__input
        width 100%
        margin-right 20px
        font-size 13px
        border 1px solid #cdcdcd
        border-radius 1px
        height 40px
        padding 0 17px
        transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear

        +media-breakpoint-down(sm)
            margin-right 0
            margin-bottom 10px

        &:hover
            border-color #939393

        &:focus
            background-color #f8f8f8
            box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

    &__actions
        padding 0
