.p-search
    @require article
    @require tab
    @require item

    @extend .row

    block-shadow()

    flex-direction column
    background-color #fff
    margin-top: $grid-gutter

    +media-breakpoint-down(sm)
        margin-top 11px

    &__title
        font-weight 600
        font-size 24px
