&-item
    @extend .col_xl_8
    @extend .col_md_12

    padding-left 10px
    padding-right 10px

    &:not(:last-child)
        margin-bottom 35px

        &:not(:last-child)
            margin-bottom 22px

    +media-breakpoint-down(sm)
        padding-left 0
        padding-right 0

    &__title
        font-size 14px
        margin-bottom 7px

        +media-breakpoint-down(sm)
            padding 0 11px

    &__container
        position relative
        min-height 105px

        +media-breakpoint-up(md)
            height 139px!important

    &__btn
        @extend .btn
        @extend .btn_primary
        @extend .btn_outline_primary

        padding-left 33px
        padding-right 33px
        margin-top 9px

        +media-breakpoint-down(sm)
            margin-top 10px

        &:disabled
            pointer-events none

        &-wrap
            display none

    &__select
        position relative

        &:nth-last-of-type(n+3)
            margin-bottom 9px

            +media-breakpoint-down(sm)
                margin-bottom 5px

        &-icon
            position: absolute
            right: 8px
            top: calc(50% - 8px)
            pointer-events: none
            transition color .1s linear

        select
            width 170px
            font-size 13px
            border 1px solid #cdcdcd
            border-radius 1px
            background-color #fff
            padding 0 18px 0 13px
            appearance none
            text-indent 1px
            text-overflow ''
            height 31px
            transition background .1s linear, box-shadow .1s linear, border-color .1s linear

            +media-breakpoint-down(sm)
                height 41px
                width 168px

            &:hover
                border-color #939393

            &::-ms-expand
                display none

        &-placeholder
            color #a2a2a2
            font-size 13px
            line-height 16px
            position absolute
            top calc(50% - 8px)
            left 15px
            pointer-events none
            transition color .1s linear

        &-close
            display none
            width 14px
            height 14px
            position absolute
            top calc(50% - 7px)
            right -24px
            color #cdcdcd
            cursor pointer
            transition color .1s linear

            &:hover
                color #939393

        &_active
            & ^[-1]-placeholder
                display none

            & ^[-1]-close
                display block

            & select
                background linear-gradient(180deg, #fff 0%, #e2e2e2 100%)

        &_disabled
            & select
                pointer-events none
                border-color #ededed

            & ^[-1]-placeholder
            & ^[-1]-icon
                color #ddd

    &__wrap
        background-color #fff
        border 1px solid #cdcdcd
        padding 13px 0
        display flex
        align-items center
        transition border .15s linear, box-shadow .15s linear, height .15s linear
        position absolute
        top 0
        left 0
        min-height 139px
        width 100%
        overflow hidden

        +media-breakpoint-up(md)
            height 139px

        +media-breakpoint-down(sm)
            border-left-color transparent
            border-right-color transparent
            border-top-color #939393

            ^[-1]:last-child &
                border-bottom-color transparent

                &:hover
                    border-bottom-color: $colors.secondary

        &_active,
        &:hover
            border: 1px solid $colors.secondary
            box-shadow 0 4px 5px 0 rgba(0, 0, 0, .26)

        &_active
            z-index 1

        &_narrow
            min-height 105px
            height 105px

        &_top
            align-items flex-start

        &_thread
            +media-breakpoint-up(md)
                padding-left 38px

                & ^[-2]__image
                    margin-right 40px

        &_nut
            +media-breakpoint-up(md)
                padding-left 33px

                & ^[-2]__image
                    margin-right 30px

        &_penbolt
            +media-breakpoint-up(md)
                padding-left 25px

                & ^[-2]__image
                    margin-right 26px

        &_pennut
            +media-breakpoint-up(md)
                padding-left 36px

                & ^[-2]__image
                    margin-right 39px

        &_flush_holder_under
            +media-breakpoint-up(md)
                padding-left 35px

                & ^[-2]__image
                    margin-right 35px

        &_outer_thread
            +media-breakpoint-up(md)
                padding-left 32px

                & ^[-2]__image
                    margin-right 34px

        &_flush_holder
            +media-breakpoint-up(md)
                padding-left 25px

                & ^[-2]__image
                    margin-right 30px

        &_flush_holder_under-two
            +media-breakpoint-up(md)
                padding-left 24px

                & ^[-2]__image
                    margin-right 22px

        &_shim
            +media-breakpoint-up(md)
                padding-left 19px

                & ^[-2]__image
                    margin-right 19px

        &_circle
            +media-breakpoint-up(md)
                padding-left 49px

            & ^[-2]__image
                margin-bottom -70px

                +media-breakpoint-up(md)
                    margin-right 61px

        &_square
            +media-breakpoint-up(md)
                padding-left 52px

            & ^[-2]__image
                margin-bottom -50px

                +media-breakpoint-up(md)
                    margin-right 39px

        &_rectangle
            +media-breakpoint-up(md)
                padding-left 26px

            & ^[-2]__image
                margin-bottom -68px

                +media-breakpoint-up(md)
                    margin-right 33px

        &_ellipse
            +media-breakpoint-up(md)
                padding-left 13px

            & ^[-2]__image
                margin-bottom -61px

                +media-breakpoint-up(md)
                    margin-right 23px

        &_circle-two
            +media-breakpoint-up(md)
                padding-left 52px

            & select
                width 118px

                +media-breakpoint-down(sm)
                    width 121px

            & ^[-2]__image
                margin-bottom -45px

                +media-breakpoint-up(md)
                    margin-right 28px

        &_oval
            +media-breakpoint-up(md)
                padding-left 15px

            & ^[-2]__image
                margin-bottom -60px

                +media-breakpoint-up(md)
                    margin-right 22px

        &_semioval
            +media-breakpoint-up(md)
                padding-left 19px

            & ^[-2]__image
                margin-bottom -67px

                +media-breakpoint-up(md)
                    margin-right 28px

        &_washers
            +media-breakpoint-up(md)
                padding-left 52px

                & ^[-2]__image
                    margin-right 22px

        +media-breakpoint-down(xs)
            padding-left 10px!important

    &__input
        width 117px
        font-size 13px
        border 1px solid #cdcdcd
        border-radius 1px
        background-color #fff
        padding 0 13px
        appearance none
        text-indent 1px
        text-overflow ''
        height 31px
        transition background-color .1s linear, box-shadow .1s linear, border-color .1s linear

        +media-breakpoint-down(sm)
            width 121px
            height 41px

        &:hover
            border-color #939393

        &:focus
            background-color #f8f8f8
            box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, .25)

        &:not(:last-of-type)
            margin-bottom 9px

            +media-breakpoint-down(sm)
                margin-bottom 5px

        &::placeholder
            opacity 1
            color #d0d0d0

    &__inputs
        display flex
        flex-direction column
        align-items flex-start

    &__image
        +media-breakpoint-down(xs)
            max-width 100px
            margin-right 10px!important

            svg
                width 100%

        for $key in range(1, 3)
            .input_{$key}
                color #c4c4c4
                transition color .1s linear

            &_active_{$key} .input_{$key}
                color #000

        +media-breakpoint-down(sm)
            width 134px
            max-width none

            ^[-2]-tab__item:nth-child(2) &
                width 110px
