
.icon_arrow
    width 11.41421px
    height 7.12132px

.icon_arrow-adv
    width 22px
    height 43px

.icon_arrow-braedcrumbs2
    width 5px
    height 9px

.icon_arrow-breadcrumbs
    width 13px
    height 13px

.icon_arrow-menu
    width 10px
    height 6px

.icon_arrow-thin
    width 15px
    height 8px

.icon_arrows
    width 7px
    height 16px

.icon_attention
    width 15px
    height 15px

.icon_basket
    width 21px
    height 19px

.icon_car
    width 44px
    height 29px

.icon_cart-car
    width 36px
    height 25px

.icon_cart-personal
    width 36px
    height 37.2px

.icon_cart-wallet
    width 30px
    height 41px

.icon_characteristics
    width 23.4px
    height 23.4px

.icon_check
    width 13px
    height 10px

.icon_checkcart
    width 11px
    height 7.583px

.icon_close
    width 16px
    height 16px

.icon_close-thin
    width 10px
    height 10px

.icon_cross
    width 14px
    height 14px

.icon_download
    width 21px
    height 20px

.icon_excel
    width 16px
    height 19px

.icon_flag_de
    width 5px
    height 3px

.icon_flag_en
    width 60px
    height 30px

.icon_flag_it
    width 3px
    height 2px

.icon_flag_ru
    width 9px
    height 6px

.icon_hamburger-menu
    width 23px
    height 14px

.icon_in-stock
    width 22px
    height 22px

.icon_info
    width 24px
    height 24px

.icon_instagram
    width 16px
    height 16px

.icon_mark
    width 35.2px
    height 33.15px

.icon_marker
    width 30px
    height 30px

.icon_ok
    width 22px
    height 20px

.icon_package
    width 22px
    height 22px

.icon_payment
    width 24px
    height 24px

.icon_phone
    width 31px
    height 30px

.icon_pointer
    width 16px
    height 21px

.icon_print
    width 20px
    height 19px

.icon_search
    width 19px
    height 19px

.icon_telegram
    width 24px
    height 24px

.icon_twitter
    width 16px
    height 16px

.icon_viber
    width 16px
    height 16px

.icon_vk
    width 16px
    height 16px

.icon_whatsapp
    width 16px
    height 16px

.icon_youtube
    width 96px
    height 96px


.icon
     display inline-block
     fill currentColor

.icon_close
    color #f2c595

    &:hover
        color: $colors.primary
