<% _.forEach(svg, function(svgItem) { %>
.<%=common %>_<%=svgItem.name%>
    width <%= svgItem.width %>px
    height <%= svgItem.height %>px
<% }); %>

.icon
     display inline-block
     fill currentColor

.icon_close
    color #f2c595

    &:hover
        color: $colors.primary
