<template>
  <activity :method="method" :methodData="{subjectId: this.subjectId, objectId: this.objectId}"></activity>
</template>

<script>
  import store from '@/store'

  import Api from '@/api'
  import Activity from '@/components/Activity.vue'

  export default {
    name: 'admin-activity-subject',
    components: { Activity },
    data () {
      return {
        method: Api.activity.getBySubject,
        subjectId: store.state.route.params.subjectId,
        objectId: store.state.route.params.objectId
      }
    }
  }
</script>
