<template>
  <activity :method="method" :methodData="{ id: this.id }"></activity>
</template>

<script>
  import store from '@/store'

  import Api from '@/api'
  import Activity from '@/components/Activity.vue'

  export default {
    name: 'admin-activity-list',
    components: { Activity },
    data () {
      return {
        method: Api.activity.getByUser,
        id: store.state.route.params.id
      }
    }
  }
</script>
