&-description
    @extend .row

    line-height: $line-height
    margin-top: $grid-gutter

    &__row
        background-color #fff
        block-shadow()
        padding-top ($grid-gutter / 2)
        padding-bottom ($grid-gutter / 2)

        @extend .col_24

        > *:last-child
        > *:last-child > p:last-child
            margin-bottom 0

        +media-breakpoint-down(sm)
            font-size 15px
            line-height 20px

    h2
    &__title
        font-weight 400
        font-size 24px
        margin 0 0 15px 0

        +media-breakpoint-down(sm)
            font-size 18px
            line-height 24px

    ul
        padding-left 25px

        li:not(:last-child)
            margin-bottom 7px
