&-tags
    @extend .col_24

    margin ($grid-gutter) (-($grid-gutter / 2)) 0
    line-height 26px
    padding 0

    +media-breakpoint-down(sm)
        margin ($grid-gutter / 2) 0 0

    > .link
        &:not(:last-of-type)
            margin-right .5em
